*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  @include crisp;
}

.totop {
	cursor: pointer;
  &:hover {
    display: block!important;
  }
}

.hidden {
  display: none;
}

h1,
h2,
h3 {
	margin-top: 0;
  margin-bottom: 0;
	a {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
  height: auto;
  display: block;
}

ul {
	&.menu {
		padding: 0;
    li {
      padding: 0;
      margin: 0;
    }
	}
}

.tabs {
  overflow: hidden;
}

div.tabs {
  position: absolute;
  top: 0;
  right: 0;
  a {
    text-decoration: none;
    display: block;
    &:nth-child(2) {
      display: inline-block;
      background-color: white;
      border: 1px solid black;
      padding: 5px;
    }
  }
  .edit {
    display: none;
  }
  .fa {
    position: relative;
    right: 0;
    display: none;
    float: right;
    color: grey!important;
    .page-node.not-front.logged-in &,
    .page-taxonomy.logged-in &,
    .page-user.logged-in &,
    .view-nieuws &,
    .view-about & {
      display: block;
    }
    &.open {
      position: absolute;
    }
    &:before {
      font-size: 40px;
      cursor: pointer;
      display: block;
      right: 0;
      position: relative;
    }
    &:hover {
      -webkit-animation-name: spin;
      -webkit-animation-duration: 400ms;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spin;
      -moz-animation-duration: 400ms;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spin;
      -ms-animation-duration: 400ms;
      -ms-animation-iteration-count: 1;
      -ms-animation-timing-function: linear;
      animation-name: spin;
      animation-duration: 400ms;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }
  }
}

div.edit-link {
  .fa {
    display: block;
  }
}

.view-about {
  div.tabs {
    right: 50px;
  }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

ul.tabs {
  margin-top: 50px;
  display: none;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.5);
  li {
    margin-right: $padding/2;
  }
  &.primary {
    margin-left: 0;
    li {
      float: left;
      a {
        @extend %button;
      }
    }
  }
}

.field-collection-container {
  border-bottom: none;
}

#region-cover {
  img {
    width: 100%;
  }
}

#content {
  position: relative;
}

// file
.field-type-file {
  .field-item {
    margin-bottom: 10px;
    cursor: pointer;
    display: table;
    width: 100%;
    &:before {
      content: "\f016";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0,0);
      float: left;
      font-size: 36px;
      clear: both;
      padding: 10px;
    }
  }
  .file {
    img {
      display: none;
    }
    a {
      text-decoration: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}


