#wrapper {
	@include gridle_container ( );
    max-width : 90%;
    margin : 0 auto;
}

#main-header {
	@include gridle_no_gutter ();
	@include gridle_grid ( 12 );
}

#header {
	@include gridle_no_gutter ();
	@include gridle_grid ( 12 );
}

.logo {
	@include gridle_no_gutter ();
	@include gridle_state(max-tablet) {
		@include gridle_grid (12);
	}
	@include gridle_state(min-mobile) {
		@include gridle_grid (6);
	}
}

#site-name {
	@include gridle_no_gutter ();
	@include gridle_state(max-tablet) {
		@include gridle_grid (12);
	}
	@include gridle_state(min-mobile) {
		@include gridle_grid (6);
	}
}

#main_menu {
	@include gridle_no_gutter ();
	@include gridle_grid ( 12 );
}

#region-breadcrumb {
	@include gridle_no_gutter ();
	@include gridle_grid ( 12 );
}

#content {
	clear: both;
	//@include gridle_no_gutter ();
	@include gridle_float ( left );
	@include gridle_state(max-mobile) {
		@include gridle_grid (12);
	}
	.one-sidebar & {
		//@include gridle_no_gutter ();
		@include gridle_state(max-tablet) {
			@include gridle_grid (12);
		}
		@include gridle_state(only-desk) {
			@include gridle_grid (8);
		}
		@include gridle_state(min-full) {
			@include gridle_grid (9);
		}
	}
	.one-sidebar.sidebar-first & {
		//@include gridle_no_gutter ();
		@include gridle_state(only-desk) {
			@include gridle_push (4);
		}
		@include gridle_state(min-full) {
			@include gridle_push (3);
		}
		@include gridle_state (max-tablet) {
			@include gridle_no_gutter();
		}
		@include gridle_state(min-desk) {
			@include gridle_no_gutter (right);
		}
	}
	.one-sidebar.sidebar-second & {
		@include gridle_state (max-tablet) {
			@include gridle_no_gutter();
		}
		@include gridle_state(min-desk) {
			@include gridle_no_gutter (left);
		}

	}
	.two-sidebars & {
		//@include gridle_no_gutter ();
		@include gridle_state (max-mobile) {
			@include gridle_no_gutter();
		}
		@include gridle_state (only-tablet) {
			@include gridle_no_gutter(left);
		}
		@include gridle_state(only-tablet) {
			@include gridle_grid(8);
		}
		@include gridle_state(min-desk) {
			@include gridle_push(3);
			@include gridle_grid(6);
		}
	}
}

aside.sidebar {
	@include gridle_no_gutter ();
	@include gridle_float ( left );
	@include gridle_state(max-mobile) {
		@include gridle_grid (12);
	}
	.one-sidebar &,
	.two-sidebars & {
		@include gridle_no_gutter ();
		@include gridle_state(min-full) {
			@include gridle_grid (3);
		}
	}
	.one-sidebar & {
		@include gridle_no_gutter ();
		@include gridle_state(max-tablet) {
			@include gridle_grid (12);
		}
		@include gridle_state(only-desk) {
			@include gridle_grid (4);
		}
		@include gridle_state(min-full) {
			@include gridle_grid (3);
		}
	}
	.one-sidebar.sidebar-first & {
		@include gridle_no_gutter ();
		@include gridle_state(only-desk) {
			@include gridle_grid (4);
			@include gridle_pull (8);
		}
		@include gridle_state(min-full) {
			@include gridle_grid (3);
			@include gridle_pull (9);
		}
		//@include gridle_pull (9, min-full);
	}

}

aside#sidebar_first {
	.two-sidebars & {
		@include gridle_no_gutter ();
		@include gridle_state(only-tablet) {
			@include gridle_grid(4);
		}
		@include gridle_state(min-desk) {
			@include gridle_grid(3);
			@include gridle_pull (6);
		}
	}
}

aside#sidebar_second {
	.two-sidebars & {
		@include gridle_no_gutter ();
		@include gridle_state(only-tablet) {
			@include gridle_grid (12);
		}
		@include gridle_state(min-desk) {
			@include gridle_grid(3);
		}
	}
}

#region-cover {
	@include gridle_no_gutter ();
	@include gridle_grid ( 12 );
}

#region-slideshow {
	@include gridle_no_gutter ();
	@include gridle_grid ( 12 );
}

#region-highlighted {
	@include gridle_no_gutter ();
	@include gridle_grid ( 12 );
}


#footer {
	@include gridle_no_gutter();
	@include gridle_grid(12);
}

.totop {
	@include gridle_no_gutter ();
	@include gridle_grid ( 12 );
}
