
%message {
  padding: $padding ;
  background-position: $padding/2 50%;
  clear: both;
  margin: $padding*2 0;
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      padding-right: $padding;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
    }
}

div.messages {
  overflow: hidden;
  ul {
    display: inline-table;
  }
  @extend %message;
  &.status {
    border-color: darken(green, 15%);
    background-color: green;
    background-image: none;
    &:before {
      content: "\f05d";
    }
  }
  &.warning {
    border-color: darken(orange, 15%);
    background-color: orange;
    background-image: none;
    &:before {
      content: "\f071";
    }
  }
  &.error {
    border-color: darken(red, 15%);
    background-color: red;
    background-image: none;
    color: white;
    &:before {
      content: "\f057";
    }
  }
  .krumo-root {
    width: 100%;
    margin: 0;
  }
}
