
%message {
  padding: 10px 10px 10px 40px;
  background-position: $padding/2 50%;
  clear: both;
  margin: $padding*2 0;
  background-color: transparent;
  border-left: 20px solid;
  overflow: hidden;
  ul {
    display: inline-table;
  }
}

div.messages {
  @extend %message;
  &.status {
    background-color: lightgreen;
    border-color: green;
  }
  &.warning {
    background-color: #ffe4b2;
    border-color: #ffa500;
  }
  &.error {
    background-color: #FFE4E1;
    border-color: red;
  }
  .krumo-root {
    width: 100%;
    margin: 0;
  }
}
