/* SOCIAL
><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><*/


$facebook: #3b5998;
$twitter: #55acee;
$smartschool: #f7941d;
$googleplus: #15a329;
$youtube: #c1181e;
$pinterest: #c92228;
$linkedin: #007cb5;
$instagram: #ffea61;
$codepen: #151515;
$github: white;
$drupal: #409fda;
$slideshare: #e98529;
$tumblr: #2d4761;



.view-social-presence {
	li {
		list-style-type: none;
	}
	margin-bottom: $padding*2;
	a {
		font-size: 0;
		width: $padding*5;
		height: $padding*5;
		display: inline-block;
		width: 100%;
		&:before {
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: $padding*5;
			font-size-adjust: none;
			font-stretch: normal;
			font-feature-settings: normal;
			font-language-override: normal;
			font-kerning: auto;
			font-synthesis: weight style;
			font-variant: normal;
			font-size: inherit;
			text-rendering: auto;
			-moz-osx-font-smoothing: grayscale;
			transform: translate(0px, 0px);
			font-size: 20px;
			text-align: center;
			width: $padding*5;
			vertical-align: middle;
			width: 100%;
		}
		&.facebook {
			background-color: $facebook;
			&:before {
				  content: "\f09a";
				  color: white;
			}
			&:hover {
				background-color: lighten($facebook, 10%);
			}
		}
		&.twitter {
			background-color: $twitter;
			&:before {
				  content: "\f099";
				  color: white;
			}
			&:hover {
				background-color: lighten($twitter, 10%);
			}
		}
		&.pinterest {
			background-color: $pinterest;
			&:before {
				  content: "\f0d2";
				  color: white;
			}
			&:hover {
				background-color: lighten($pinterest, 10%);
			}
		}
		&.linkedin {
			background-color: $linkedin;
			&:before {
				  content: "\f0e1";
				  color: white;
			}
			&:hover {
				background-color: lighten($linkedin, 10%);
			}
		}
		&.instagram {
			background-color: $instagram;
			&:before {
				  content: "\f16D";
				  color: black;
			}
			&:hover {
				background-color: lighten($instagram, 10%);
			}
		}
		&.googleplus {
			background-color: $googleplus;
			&:before {
				  content: "\f0d5";
				  color: white;
			}
			&:hover {
				background-color: lighten($googleplus, 10%);
			}
		}
		&.codepen {
			background-color: $codepen;
			&:before {
				  content: "\f1cb";
				  color: white;
			}
			&:hover {
				background-color: lighten($codepen, 10%);
			}
		}
		&.drupallogo {
			background-color: $drupal;
			&:before {
				  content: "\f1a9";
				  color: white;
			}
			&:hover {
				background-color: lighten($drupal, 10%);
			}
		}
		&.github {
			background-color: $github;
			&:before {
				  content: "\f113";
				  color: black;

			}
			&:hover:before {
				color: lighten(grey, 10%);
			}

		}
		&.slideshare {
			background-color: $slideshare;
			&:before {
				  content: "\f1e7";
				  color: white;
			}
			&:hover {
				background-color: lighten($slideshare, 10%);
			}

		}
		&.youtube {
			background-color: $youtube;
			&:before {
				  content: "\f167";
				  color: white;
			}
			&:hover {
				background-color: lighten($youtube, 10%);
			}

		}
		&.tumblr {
			background-color: $tumblr;
			&:before {
				  content: "\f173";
				  color: white;
			}
			&:hover {
				background-color: lighten($tumblr, 10%);
			}

		}
	}
	.field {
		float: left;
		width: 25%;
	}
}
