#content {

    background-color: yellow;
}

#header {
	background-color: lightblue;
}

.logo {
	background-color: red;
}

#site-name {
	background-color: teal;
}

#main_menu {
	background-color: lightgrey;
}

#region-breadcrumb {
	background-color: orange;
}

#main-content {
	background-color: pink;
}

#region-cover {
	background-color: teal;
}

#region-highlighted {
	background-color: maroon;
}

#region-slideshow {
	background-color: silver;
}

aside#sidebar_first {
	background-color: fuchsia;
}

aside#sidebar_second {
	background-color: gold;
}

#footer {
	background-color: green;
}

.totop {
	background-color: black;
}
