// TODO CHECK font-smooth: none;


@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin not-smooth {
             font-smooth: never;
          font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
 -moz-osx-font-smoothing: auto;
}

@mixin crisp {
            font-smooth: always;
         font-smoothing: antialiased;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

@mixin transition($property, $time, $sort) {
  -webkit-transition: $property $time $sort;
  -moz-transition: $property $time $sort;
  -o-transition: $property $time $sort;
  -ms-transition: $property $time $sort;
  transition: $property $time $sort;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}


%full {
  width: 100%;
  position: relative;
  &:before {
    content: "";
      margin-left: -9999px;
      padding-right: 999px;
      padding-right: 9999px;
      display: left;
      position: absolute;
      top: 0;
      height: 100%;
      z-index: -100;
  }
  &:after {
    content: "";
      margin-right: -9999px;
      padding-left: 999px;
      padding-right: 9999px;
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      z-index: -100;
  }
}

%button {
  background: white;
  transition: background-color 0.5s ease;
  border: 1px solid grey;
  text-decoration: none;
  display: inline-block;
  padding: $padding/2 $padding;
  height: $padding*3;
  @include crisp;
  a {
    text-decoration: none;
  }
}