body {
  color: $black;
  font-family: $textfont;
  font-size: 16px;
}

a {
  color: $blue;
  &:hover {
    color: $darkgrey;
  }
}

%button {
  background: $blue;
  transition: background-color 0.2s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: $padding/4 $padding;
  margin-right: $padding/2;
  color: $white;
  @include crisp;
  a {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    background: $lightblue;
  }
}

input[type="submit"],
#edit-cancel,
.button,
.node-readmore a,
.node-type-vacature a.node-readmore {
  @extend %button;
}

input[title="Hoeveelheid"] {
    width: 50px;
}

li.node-readmore {
  padding: 0!important;
}

p.node-readmore,
div.node-readmore {
  display: inline-block;
}

ul.tabs {
  &.primary {
    a {
      @extend %button;
    }
    li {
      &.active {
        a {
          background-color: $lightblue;
          color: $blue;
          border: none;
          &:hover {
            background-color: $blue;
            color: $lightblue;
          }
        }
      }
    }
  }
}

// TITELS

h1,
h2,
h1 a,
h2 a,
.view-grouping-header {
  color: $blue;
  font-weight: normal;
  font-weight: bold;
  font-family: $titlefont;
}

h1,
h1 a,
.view-grouping-header,
#block-menu-menu-waarom-feneko h2 {
  font-size: 36px;
  margin-bottom: 36px;
}

.view-main-categories {
  .view-grouping-header {
    font-size: 26px;
  }
}

#sidebar_second {
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  @include gridle_state (min-desk) {
    padding-top: 70px;
  }
}

.view-grouping-header {
  margin-bottom: 20px;
}

.view-grouping-content .view-grouping-header {
  margin-bottom: 0;
}

h2 {
  font-size: 26px;
  margin-bottom: 14px;
  .node-type-product & {
    font-weight: 400;
    font-size: 22px;
  }
}

h3,
h3 a,
.fieldset-legend,
.view-grouping-content .view-grouping-header a {
  color: $darkgrey;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.node-info-pagina {
  h2 {
    font-size: 36px;
  }
}

// IMG

.node-type-machine {
  #main-content {
    img {
      float: left;
      padding-right: $padding;
    }
  }
}

.page-about {
  #main-content {
    img {
      margin-bottom: $padding*4;
    }
  }
}

//messages

div.messages {
  border-radius: 5px;
  &.status {
    background-color: lightgreen;
    border-color: $green;
  }
  &.warning {
    background-color: #ffe4b2;
    border-color: $orange;
  }
  &.error {
    background-color: #FFE4E1;
    border-color: $red;
  }
}


// regions

.wrapper {
  overflow: hidden;
}

#header-wrapper {
  background-color: $grey;
  overflow: hidden;
  clear: both;
  padding: $padding*2.5 0;
  @include gridle_state (max-tablet) {
    -webkit-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    display: none;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 9;
  }
}

#usermenu-wrapper {
  clear: both;
}

#content {
  clear: both;
}

.logo {
  @include gridle_state (max-tablet) {
    display: none;
  }
}

.feneko_fenek,
.feneko_o {
  font-family: georgia, serif;
  font-size: 40px;
}

.feneko_fenek {
  color: $black;
}

.feneko_o {
  color: $blue;
}

// front regions

#frontblock-wrapper,
#bottomblock-wrapper,
#main-wrapper {
  &.wrapper {
    padding: $padding*4 0;
  }
}

#main-wrapper {
  &.wrapper {
    @include gridle_state (max-tablet) {
      padding-top: $padding*8;
    }
  }
  .field-name-body {
    margin-bottom: $padding*6;
    .node-type-vacature & {
      margin-bottom: $padding*3;
    }
  }
  ul.links.inline {
    display: inherit;
  }
  .node-readmore {
    a {
      color: $blue;
      font-weight: 700;
      border: 2px solid $blue;
      background-color: $white;
      padding: 5px 20px;
      display: inherit;
      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }
}

.view-front-image {
  img {
    width: 100%;
    display: block;
    position: relative;
    z-index: -1;
    transition: 0.5s ease;
    transform: translate3d(0, 0, 0);
    transition-property: background-position;
  }
}

.front #main-wrapper,
#bottomblock-wrapper {
  text-align: center;
}

#frontblock-wrapper {
  background-color: $blue;
  * {
    color: $white;
  }
}

.field-name-field-about {
  padding-bottom: 20px;
}

#bottomblock-wrapper {
  background-color: $grey;
  .menu {
    text-align: center;
    li {
      display: inline-block;
      vertical-align: top;
      @include gridle_state (max-mobile) {
        margin-bottom: $padding*5;
      }
    }
    .first,
    .last {
      a {
        width: 205px;
        height: 275px;
        background-position: 0 70px;
        background-repeat: no-repeat;
        background-size: 205px 205px;
        display: block;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .first a {
      background-image: url(../img/fabriek.png);
      @include gridle_state (min-tablet) {
        margin-right: $padding*2;
      }
    }
    .last a {
      background-image: url(../img/doos.png);
      @include gridle_state (min-tablet) {
        margin-left: $padding*2;
      }
    }
  }
}

#cover-wrapper {
  position: relative;
  clear: both;
  @include gridle_state (max-tablet) {
    top: 60px;
  }
  img {
    width: 100%;
    display: block;
  }
  .inner-wrapper {
    position: absolute;
    @include gridle_state (max-mobile) {
      max-width: none;
      top: 0;
    }
    @include gridle_state (max-tablet) {
      bottom: 0;
      left: 0;
      right: 0;
    }
    @include gridle_state (only-tablet) {
      top: 25%;
    }
    @include gridle_state (min-desk) {
      bottom: 20%;
      left: 10%;
    }
  }
  .big-image-caption {
    @include gridle_state (max-mobile) {
      margin: 0;
      text-align: center;
    }
    @include gridle_state (only-mobile-land) {
      max-width: 85%;
      margin: 8% auto 0;
    }
    @include gridle_state (only-tablet) {
      margin-bottom: 50px;
    }
  }
  .node-readmore {
    @include gridle_state (max-mobile) {
      text-align: center;
      margin-top: $padding;
      position: absolute;
      bottom: $padding;
      left: 0;
      right: 0;
      margin: 0 auto $padding*2;
    }
    @include gridle_state (only-mobile-land) {
      margin-bottom: 25px;
    }
  }
  .node-readmore a {
    @include gridle_state (max-mobile) {
      background-color: transparent;
      border: 1px solid $white;
      text-align: center;
      display: inline;
    }
    @include gridle_state (min-tablet) {
      display: initial;
    }
  }
  .big-image-caption,
  .node-readmore a {
    color: $white;
    padding: $padding $padding*2;
    font-weight: 700;
    background-color: $bluetrans;
      border: 1px solid $black;
    @include gridle_state (only-tablet) {
      font-size: 16px;
    }
    @include gridle_state (min-tablet) {
      max-width: 80%;

    }
    @include gridle_state (min-desk) {
      font-size: 24px;
    }
  }
  .node-readmore {
    a {
      &:hover {
        background-color: $lightblue;
      }
    }
  }
}

#footer-footer {
  background-color: $darkgrey;
  color: $white;
  padding: 30px 0 60px;
  article {

  }
  @include gridle_state (max-tablet) {
    text-align: center;
    padding-top: 0;
  }
  a {
    color: $white;
    &:hover {
      color: $lightblue;
    }
  }
  ul.menu {
    width: 100%;
    margin: 0;
    @include gridle_state (max-tablet) {
      text-align: center;
    }
    li {
      margin-bottom: $padding/2;
    }
  }
  .opening {
    @include gridle_state (max-tablet) {
      margin: 40px auto;
    }
  }
  #block-menu-menu-footer-menu,
  .footer-block > div {
    display: block;
    float: none;
    padding: 0;
    @include gridle_state (max-tablet) {
      margin: auto;
      margin-bottom: $padding*2;
      text-align: center;
      margin: auto;
    }
    @include gridle_state (min-desk) {
      width: 50%;
    }
    &#block-menu-menu-footer-menu {
      @include gridle_state (max-tablet) {
        padding: 1px 0 0px 0;
      }
      @include gridle_state (min-desk) {
        width: 30%;
      }
    }
    &.views-field-field-social-follow {
      @include gridle_state (max-tablet) {
        margin-bottom: 30px;
      }
      @include gridle_state (min-desk) {
        margin: auto;
        padding-bottom: 20px;
        text-align: right;
        float: right;
        margin: 40px 0;
      }
    }
    .field-collection-item-field-social-follow {
      margin-top: 60px;
    }
  }

  .footer-block {
    p {
      margin: 20px 0;
    }
    > div:nth-child(1) {
      @include gridle_state (min-desk) {
        float: left;
        text-align: left;
      }
    }
    > div:nth-last-child(1) {
      @include gridle_state (min-desk) {
        float: right;
        text-align: right;
        margin-top: 20px;
      }
    }
  }

  #block-menu-menu-footer-menu {
    @include gridle_state (min-desk) {
      float: left;
    }
    a {
      display: block;
      border-bottom: 1px solid $lightgrey;
      padding: 20px 0;
      //text-decoration: underline;
    }
    .last a {
        border-bottom: none;
      }
  }

  #block-views-footer-info-block {
    @include gridle_state (min-desk) {
      float: right;
      width: 66%;
    }
  }

  .field-collection-item-field-tel {
    margin-top: $padding*3;
  }
}

.field-name-field-tel-field {
  .field-item {
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f095";
      padding-right: 5px;
    }
  }
}

#block-menu-menu-footer-menu {
  @include gridle_state (max-tablet) {
    background-color: $blue;
    padding: 40px 0;
    position: relative;
    z-index: 0;
    &:before,
    &:after {
      background-color: $blue;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      z-index: -1;
    }
    &:before {
      margin-left: -9999px;
      padding-right: 9999px;
      background-color: $blue;
    }
    &:after {
      margin-right: -9999px;
      padding-left: 9999px;
    }
  }
}


// MENU

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

#mainmenu-wrapper {
  position: relative;
  @include linear-gradient(rgba(28,64,99,1), rgba(41,93,143,1));
  @include gridle_state (max-tablet) {
    -webkit-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
  }
  &.wrapper {
    clear: both;
    @include gridle_state (max-tablet) {
      top: 60px;
      position: fixed;
      width: 100%;
      z-index: 99;
    }
    .admin-menu & {
      @include gridle_state (max-tablet) {
        top: 100px;
      }
    }

  }
  &.cloned {
    -webkit-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    .admin-menu & {
      padding-top: 30px;
    }
  }
  li {
    @include gridle_state (min-desk){
      display: inline-block;
    }
  }
  #main_menu {
    margin: $padding*2 0;
    @include gridle_state (max-tablet) {
      display: none;
    }
  }
  .menu {
    color: $white;
    margin: 0;
    @include gridle_state (max-tablet) {
      width: 100%;
    }
    @include gridle_state (min-tablet) {
      float: left;
    }
    a {
      color: $white;
      &:hover {
        color: $lightblue;
      }
      &.active {
        font-weight: 700;
      }
      @include gridle_state (max-tablet) {
        padding: $padding/2 0;
        display: block;
        width: 100%;
      }
      @include gridle_state (min-desk) {
        padding-right: $padding/2;
      }
      @include gridle_state (only-desk) {
        font-size: 14px;
      }
      @include gridle_state (only-full) {
        font-size: 15px;
      }
      &:after {
        @include gridle_state (min-desk) {
          content: "\007C";
          padding-left: $padding;
          color: $white;
        }
      }
    }
    li {
      @include gridle_state (max-tablet) {
        display: block;
        width: 100%;
      }
    }
  }
}

#mainmenu-wrapper.show #main_menu {
  display: block;
}

.node-type-client,
.page-user {
  #main-wrapper {
    .field,
    .form-item {
      margin-bottom: $padding*2;
      padding-bottom: $padding;
      border-bottom: 1px solid $grey;
      &:nth-last-child(1),
      &.field-name-field-clients {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    .field-label,
    label {
      @include gridle_state(max-tablet) {
        width: 100%;
        margin-bottom: $padding/2;
      }
      @include gridle_state(min-desk) {
        width: 150px;
        float: left;
      }
    }
  }
  #footer-footer {
    .field {
      border-bottom: none;
    }
  }
  &.page-user-retour {
    .field,
    .form-item {
      padding-bottom: $padding;
      border-bottom: none;
    }
    .field-label,
    label {
      float: none;
    }
    .form-item-chauffeur {
      clear: both;
    }
  }
  .field-name-field-clients {
    > .field-items {
      > .field-item {
        margin-bottom: 20px;
      }
    }
  }
  .profile {
    h3 {
      border-bottom: none;
    }
  }
}

.page-user {
  .node-client {
    border-bottom: 1px solid $blue;
    margin-top: $padding;
    padding: $padding 0;
  }
  h2 {
    font-size: 20px;
  }
  &.logged-in  {
    div.tabs {
      display: block;
      position: static;
      .fa-cog {
        display: none;
      }
    }
    ul.tabs {
      display: block;
      border: none;
      box-shadow: none;
      webkit-box-shadow: none;
      moz-box-shadow: none;
      margin-top: 0;
      padding: 0;
      &.primary {
        @include gridle_state(max-tablet) {
          border: 1px solid $black;
        }
        li {
          @include gridle_state (max-tablet) {
            width: 50%;
            margin: 0;
            &:nth-child(2n+1) {
              border-right: 1px solid $black;
              float: left;
              border-left: 3px solid $white;
              &.active  {
                border-left: 3px solid $blue;
              }
            }
            &:nth-child(2n+0) {
              float: right;
              text-align: right;
              border-right: 3px solid $white;
              &.active  {
                border-right: 3px solid $blue;
              }
            }
          }
          a {
            background-color: transparent;
            color: $black;
            &:hover {
              color: $blue;
            }
            @include gridle_state(max-tablet) {
              border: none;
              width: 100%;
              display: block;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}

.view-payments {
  th {
    padding: $padding;
  }
}

#feneko-code-retours-form {
  .form-type-radio {
    float: left;
    margin-right: 10px;
  }
}

#block-system-user-menu {
  .menu {
    li.first {
      @include gridle_state(min-desk) {
        a {
          padding-left: 5px;
        }
      }
    }
    li.last {
      a:after {
        content: "";
      }
    }
  }
}

#usermenu-wrapper {
  background-color: $black;
  color: $white;
  a {
    color: $white;
  }
  li {
    @include gridle_state (min-desk){
      display: inline-block;
    }
  }
}

// TOTOP

.totop {
  padding: $padding;
  background-color: $black;
  color: $white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

// small blocks

#mobile-header {
  position: fixed;
  width: 100%;
  z-index: 99;
  -webkit-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
  .admin-menu.small & {
    padding-top: 20px;
  }
}

.small-block {
  display: table;
  cursor: pointer;
  height: 60px;
  @include linear-gradient(rgba(255,255,255,1), rgba(203,217,216,1));
  border-right: 1px solid $grey;
  color: $black;
  float: left;
  @include gridle_state (max-mobile) {
    font-size: 0;
    .fa {
      font-size: 20px;
    }
  }
  @include gridle_state (min-desk) {
    display: none;
  }
  &.last {
    border-right: none;
  }
  a {
    color: $black;
    text-decoration: none;
  }
  .inner-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  img {
    @include gridle_state (max-mobile) {
      max-width: 70%;
      width: 50px;
    }
    @include gridle_state (only-tablet) {
      max-width: 30%;
    }
  }
}

// search

#block-search-form,
#search-form {
  input[type="text"] {
    padding-right: 30px;
  }
  input[type="submit"] {
    font-size: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url(../img/search.png);
    background-size: cover;
    border: none;
    margin-right: 5px;
    margin-top: 5px;
  }
}

#search-form {
  input[type="submit"] {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

#block-search-form {
  input[type="text"] {
    background-color: $grey;
    border: 2px solid $darkgrey;
  }
}

.page-search {
  #block-system-main {
    p {
      clear: both;
    }
  }
}

.search-results {
  clear: both;
}

// language switcher

#block-locale-language {
  clear: both;
  padding-top: 40px;
}

.language-switcher-locale-url {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    opacity: 0.5;
    a {
      padding: $padding/2 $padding;
      border-radius: $padding;
      border: 1px solid $white;
      font-weight: 700;
      margin-right: $padding;
      &:hover {
        background-color: $lightgrey;
      }
    }
    &.active {
      opacity: 1;
    }
  }
}

.node-type-article {
  #content {
    img {
      float: left;
      padding-right: $padding*2;
      padding-bottom: $padding;
    }
  }
}

// rijen

.teaser-rij {
  overflow: hidden;
  margin-bottom: $padding;
  img {
    float: left;
    padding-right: $padding*2;
    padding-bottom: $padding;
  }
}

#region-content .machine-rij {
  width: 48%;
  background-color: $lightgrey;
  padding: $padding;
  &:nth-child(2n + 0) {
    float: right;
    clear: none;
  }
  &:nth-child(2n+1) {
    float: left;
    clear: both;
  }
}

.nieuws-rij {
  margin-bottom: $padding*3;
  position: relative;
  .edit-link {
    position: absolute;
    top: 0;
    right: 0;
  }
  .node-readmore {
    float: right;
  }
  h2 {
    font-size: 20px;
    @include gridle_state(min-desk) {
      height: 50px;
    }
  }
  img {
    clear: both;
    @include gridle_state(max-mobile) {
      width: 30%;
    }
    @include gridle_state (only-tablet) {
      width: 20%;
    }
    @include gridle_state (min-desk) {
      width: 30%;
    }
  }
  &.views-row-first {
    h2 {
      float: left;
      font-size: 26px;
    }
    img {
      @include gridle_state (min-desk) {
        width: auto;
      }
    }
    .datum {
      @include gridle_state(max-tablet) {
        float: left;
        clear: both;
      }
      @include gridle_state(min-desk) {
        float: right;
      }
      + * {
        clear: both;
        display: block;
      }
    }
  }
}


//view

.not-front .view-main-categories {
  .view-grouping-content {
    .view-grouping-header {
      @include gridle_state (only-mobile-port) {
        @include gridle_grid(6);
        margin: 0 auto;
        padding: 0;
      }
      @include gridle_state (only-mobile-land) {
        @include gridle_grid(4);
        @include gridle_no_gutter(left);
      }
      @include gridle_state (only-tablet only-desk) {
        @include gridle_grid(3);
        @include gridle_no_gutter(left);
      }
      @include gridle_state (min-full) {
        @include gridle_grid (2);
        @include gridle_no_gutter(left);
      }
    }
    .view-grouping-content {
      @include gridle_state (only-mobile-port) {
        @include gridle_grid(12);
        margin: 0 auto;
        padding: 0;
      }
      @include gridle_state (only-mobile-land) {
        @include gridle_grid(8);
        @include gridle_no_gutter(left);
      }
      @include gridle_state (only-tablet only-desk) {
        @include gridle_grid(8);
        @include gridle_no_gutter();
      }
      @include gridle_state (min-full) {
        @include gridle_grid(10);
        @include gridle_no_gutter();
      }
    }
    .rij-product-naam {
      @include gridle_state (only-tablet only-desk) {
        @include gridle_grid(5.8);
        @include gridle_no_gutter();
      }
      @include gridle_state (min-full) {
        @include gridle_grid(3.9);
        @include gridle_no_gutter();
      }
    }
  }
}

.not-front .view-main-categories {
  .view-grouping {
    clear: both;
    margin-bottom: $padding*3;
    overflow: hidden;
    a {
      text-decoration: none;
      //margin-right: 15px;
    }
  }
  .catalog {
    float: right;
  }
  img {
    //float: left;
    margin-right: $padding;
    border: 2px solid $blue;
    display: block;
    width: 90%;
    //@include gridle_grid
  }
  h3 {
    margin-bottom: $padding*2;
  }
  .view-grouping-header {
    a {
      display: block;
    }
  }
  .view-grouping-content {
    div {
      font-size: 16px;
    }
    .new {
      vertical-align: top;
    }
    .views-row-odd,
    .views-row-even {
      font-weight: 700;
      @include gridle_state (max-mobile) {
        margin-bottom: $padding;
      }
      @include gridle_state (min-tablet) {
        margin-bottom: $padding*1.5;
      }
    }

  }
}

.categorie-rij {
  h3 {
    text-transform: uppercase;
  }
}

#block-views-main-categories-block-1 {
  .view-content {
    text-align: center;
  }
  .view-grouping .view-grouping {
    width: 250px;
    display: inline-block;
    text-align: center;
    clear: none;
    vertical-align: top;
    margin-bottom: $padding*5;
    .view-grouping-header {
      overflow: hidden;
      width: 190px;
      height: 190px;
      border-radius: 50%;
      display: block;
      overflow: hidden;
      margin: auto auto $padding*4 auto;
      -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
      border: 2px solid $lightblue;
    }
    h3 {
      clear: both;
      text-align: center;
      margin-bottom: 16px;
      a {
        display: block;
        border: 2px solid $white;
        width: 85%;
        padding: $padding;
        font-size: 16px;
        margin: auto;
      }
    }
    &:hover {
      h3 {
        a {
          background-color: $white;
          color: $blue;
        }
      }
      img {
        -webkit-transform:scale(1.15);
        transform:scale(1.15);
        opacity:0.7;
      }
    }
  }
  img {
    width: 190px;
    height: 190px;
    padding: 0;
    -webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
    transition: opacity 0.35s,transform 0.35s;
  }
}

// NODE TYPES

.node-type-product,
.page-taxonomy {
  #sidebar_second {
    @include gridle_state (max-tablet) {
      margin-top: 40px;
      width: 100%;
    }
  }
  .first-col .field-name-field-images,
  .term-listing-heading .field-name-field-product-category-image {
    .field-item {
      a {
        position: relative;
        display: block;
        overflow: hidden;
        border: 2px solid $blue;
        @include gridle_state (min-tablet) {
          width: 85%;
        }
        &:hover:after {
          content:'';
          position:absolute;
          top:-1px;
          bottom:0;
          left:0;
          right:0;
          background:url(../img/plus.png) center center no-repeat $orangetrans;
        }
      }
      @include gridle_state (only-mobile-land) {
        margin-bottom: 3px;
      }
      @include gridle_state(max-mobile) {
        width: 22%;
        margin-right: 4%;
        margin-bottom: $padding;
        &:nth-child(4n+1) {
          margin-right: 0;
        }
      }
      @include gridle_state (min-tablet) {
        width: 50%;
      }
      float: left;
      margin-bottom: $padding*2;
      img {
        display: block;
      }
      @include gridle_state(min-tablet) {
        &.even {
          a {
            float: right;
          }
        }
        &.odd {
          a {
            float: left;
          }
        }
      }
      &:nth-child(1) {
        width: 100%;
        margin-bottom: $padding*2;
        a {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .fa-truck {
    font-size: 36px;
    float: left;
    padding-right: $padding*2;
  }
  .lev {
    margin-top: $padding*3;
    margin-bottom: $padding*3;
    overflow: hidden;
    border: 1px solid $black;
    border-radius: 3px;
    padding: $padding;
    p {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
  }
}

.node-type-product {
  &.one-sidebar {
    @include gridle_state(max-tablet) {
      #main-wrapper.wrapper {
          padding-bottom: 0;
      }
    }
  }
  #sidebar_second {
    @include gridle_state (max-tablet) {
      background-color: $lightgrey;
      position: relative;
      padding-top: 20px;
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        z-index: -1;
        background-color: $lightgrey;
      }
      &:before {
        margin-left: -9999px;
        padding-right: 9999px;
      }
      &:after {
        margin-right: -9999px;
        padding-left: 9999px;
      }
    }
  }
  .first-col {
    .field-name-field-images {
      @include gridle_state (max-mobile) {
        display: none;
      }
      @include gridle_state (min-tablet) {
        display: block!important;
      }
    }
  }
}

.field-name-field-orderable-products {

  a {
    margin-bottom: $padding;
    margin-top: 20px;
    @extend %button;
    background-color: darken($orange, 5%);
    border-radius: 3px;
    padding: $padding;
    &:hover {
      background-color: lighten($orange, 15%);
    }
  }
  &:nth-child(1) {
    a {
      margin-top: 0;
    }
  }
}

.field-name-body {
  a {
    font-weight: 700;
  }
}

.field-name-field-ultimate-date,
.view-jobs .datum {
  margin-bottom: $padding*2;
}

.node-type-vacature {
  .field-name-field-wanted,
  .field-name-field-offering {
    .field-label {
      color: $orange;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: $padding;
    }
  }
}

.page-contact {
  #block-entityform-block-contact {
    border: 1px solid $blue;
    background-color: $lightgrey;
    padding: $padding;
    @include gridle_state (max-tablet) {
      margin-top: 50px;
    }
    input[type="submit"] {
      background-color: $orange;
      &:hover {
        background-color: lighten($orange, 15%);
      }
    }
    label {
      margin-bottom: 0;
    }
  }
}

// HTABS

.field-group-accordion-wrapper {
  margin-bottom: 30px;
  fieldset {
    margin-bottom: 0;
    &.horizontal-tabs-pane {
      padding: $padding*4 $padding/2 $padding/2 $padding/2;
    }
  }
  .ui-widget {
    font-family: $textfont;
  }
  .ui-corner-all,
  .ui-corner-top {
    border-radius: 0;
  }
  .ui-icon {
    background-image: none;
  }
  .ui-state-default  {
    &:before {
      background-color: $grey;
      content: "\f0da";
      display: inline-block;
      font: normal normal normal 20px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      float: right;
      font-size: 24px;
      clear: both;
      padding: 5px;
      color: $white;
    }
    &:hover {
      &:before {
        background-color: $lightgrey;
      }
    }
  }
  .ui-state-active  {
    &:before {
      background-color: $blue;
      content: "\f0d7";
      display: inline-block;
      font: normal normal normal 20px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      float: right;
      font-size: 24px;
      clear: both;
      padding: 5px;
      color: $white;
    }
    &:hover {
      &:before {
        background-color: $blue;
      }
    }
  }
  .field-group-format-toggler {
    background-color: $white;
    border-right: none;
    display: flex;
    @include gridle_state (max-mobile) {
      overflow: hidden;
    }
    a {
      background-color: $grey;
      color: $white;
      display: block;
      width: 100%;
      margin-bottom: 0;
      font-weight: unset;
      &:hover {
        background-color: $lightgrey;
      }
    }
    &:hover {
      background-color: $white;
    }
    &.ui-state-active {
      background-color: $blue;
      margin-bottom: -1px;
      &:hover {
        border-bottom: none;
      }
      strong {
        color: $white;
      }
      a {
        background-color: $blue;
        &:hover {
          background-color: $blue;
          border: none;
        }
      }
    }
    @include gridle_state(max-tablet) {
      display: block;
    }
  }
  .field-type-file .field-item {
    margin: 0;
    a {
      text-decoration: underline;
    }
  }
}

.field-name-field-tech-image {
  .field-item {
    width: 30%;
    float: left;
    margin-right: 5%;
    margin-bottom: $padding;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    a {
      position: relative;
      display: block;
      overflow: hidden;
      border: 1px solid $grey;
      &:hover:after {
        content:'';
        position:absolute;
        top:-1px;
        bottom:0;
        left:0;
        right:0;
        background:url(../img/plus.png) center center no-repeat $orangetrans;
      }
    }
  }
}

.horizontal-tab-button {
  border-left: 1px solid $grey;
  border-top: 1px solid $grey;
  border-right: 1px solid $grey;
  @include gridle_state (max-tablet) {
    width: 100%;
  }
}

div.horizontal-tabs {
  border: none;
}

.horizontal-tabs-panes {
  border: 1px solid $grey;
  padding: $padding;
}

// RELATED

#block-views-related-block {
  text-align: center;
  @include gridle_state (min-desk) {
    background-color: $lightgrey;
    padding: 0px 0 5px 0;
  }
  h1 {
    @include gridle_state (max-tablet) {
      font-size: 24px;
    }
  }
  h2 {
    @include gridle_state (max-tablet) {
      font-size: 26px;
      margin-bottom: 50px;
    }
    @include gridle_state (min-desk) {
      font-size: 20px;
      padding: 10px 5px;
      border-bottom: 1px solid $blue;
      margin-bottom: 30px;
    }
  }
  .views-row {
    margin-bottom: $padding*5;
    position: relative;
    @include gridle_state (max-tablet) {
      width: 44%;
      float: left;
      &.views-row-odd {
        float: left;
      }
      &.views-row-even {
        float: right;
      }
      &:only-child {
        float: none;
        margin: 0 auto 50px auto;
      }
    }
    &:hover {
      img {
        -webkit-transform:scale(1.15);
        transform:scale(1.15);
        opacity:0.7;
      }
    }
  }
  .views-row-odd {
    @include gridle_state (only-tablet) {
      clear: both;
      margin-right: 3%;
    }
  }
  .views-row-even {
    @include gridle_state (only-tablet) {
      margin-left: 3%;
    }
  }
  > .content {
    margin: auto;
    @include gridle_state (max-mobile) {
      width: 80%;
    }
    @include gridle_state (only-tablet) {
      width: 60%;
    }
    @include gridle_state (only-desk) {
      width: 90%;
    }
    @include gridle_state (min-full) {
      width: 75%;
    }
  }
  .views-field-title {
    font-weight: 700;
    margin-top: $padding;
  }
  .views-field-title-field-et {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $blue;
    margin: auto;
    color: $white;
    @include gridle_state (max-mobile) {
      h3 a {
        font-size: 16px;
      }
    }
    @include gridle_state (min-desk) {
      h3 {
        padding: 0 3px;
      }
    }
    a {
      color: $white;
      font-weight: 400;
      font-size: 18px;
    }
  }
  .rel-img-link a {
    border: 2px solid $blue;
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }
  img {
    display: block;
    -webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
    transition: opacity 0.35s,transform 0.35s;
    width: 100%;
  }
}

// SHOPPING CART

//BOTH BLOCK & FORM

.view-feneko-shopping-cart-block,
.view-commerce-cart-form-feneko,
#commerce-checkout-form-checkout,
.page-checkout {
  table {
    width: 100%;
    border-collapse: separate;
    //border-spacing: 0 0.5em!important;
  }
  tr {
    &.even,
    &.odd {
      background-color: $lightgrey;
      border: none;
      color: $black;
      &.pane-title {
        background-color: transparent;
        font-size: 24px;
        color: $orange;
      }
      &.pane-title td {
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      &.pane-data td {
        padding: 10px;
      }
    }
  }
  .checkout-review {
    tr {
      &.even,
      &.odd {
        background-color: transparent;
      }
      &.even,
      &.odd {
        tr {
          background-color: $lightgrey;
        }
      }
      &.even,
      &.odd {
        thead tr {
          background-color: transparent;
        }
      }
    }
  }
  td {
    font-weight: bold;
  }
  .node-header h1,
  .line-item-summary-view-cart  {
    position: relative;
    display: inline-block;
    &:before {
      content: "\f07a";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      float: right;
      font-size: 30px;
      clear: both;
      padding: 5px;
    }
  }
  .node-header h1 {

  }
  .node-header {
    cursor: pointer;
  }
  input[type="submit"] {
    &#edit-submit,
    &#edit-submit--2,
    &.checkout-cancel {
      background: transparent;
      text-decoration: underline;
      color: $blue;
      &:hover {
        color: $lightblue;
      }
    }
  }
}

.view-feneko-shopping-cart-block {
  cursor: default;
  ul.inline,
  ul.links.inline {
    display: block;
    margin-top: 1em;
  }
  .node-header h1 {
    color: $white;
    font-size: 14px;
    float: right;
    font-family: $textfont;
    font-weight: normal;
    margin: 0;
    margin-top: -40px;
    &:before {
      font-size: 16px;
      padding: 0 0 0 10px;
      @include gridle_state (only-desk) {
        border: 1px solid $white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 5px 0 0 0;
      }
    }
    &:hover {
      color: $lightblue;
    }
    @include gridle_state (only-desk) {
      font-size: 0;
    }
  }
  th {
    padding: $padding;
  }
  tr {
    &.even,
    &.odd {
      background-color: $lightgrey;
      border: none;
      color: $black;
    }
    &:after {
      content: "\f0d7";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      float: left;
      font-size: 1em;
      clear: both;
      padding: $padding;
    }
    &.open {
      &:after {
        content: "\f0d8";
      }
    }
  }
  td {
    font-weight: bold;
    cursor: pointer;
  }
  .view-total {
    display: none;
    background-color: $blue;
    padding: $padding;
    position: absolute;
    z-index: 10;
  }
  .view-footer {
    padding: $padding;
    color: white;
    font-size: 1.5em;
    a {
      color: $white;
      text-decoration: none;
    }
  }
  .views-field-type-1 {
    padding: 10px 0;
  }
  .line-item-summary-view-cart {
    width: 100%;
    background-color: $yellow;
    color: $blue;
    cursor: pointer;
    a {
      color: $blue;
      display: block;
      padding: 5px;
    }
    &:hover {
      background-color: $orange;
    }
  }
  .line-item-quantity,
  .line-item-total {
    padding: 0 $padding;
  }
  .views-field-type {
    padding: $padding 0 $padding $padding;
    width: 60%;
  }
  .views-field-quantity {
    width: 15%;
    padding-left: 10px;
  }
  .views-field-commerce-total {
    width: 25%;
    padding-right: $padding;
  }
  .detail {
    font-weight: normal;
    font-size: 0.8em;
    padding-top: $padding*1.5;
    line-height: 150%;
  }
}

#shoppingcart {
  @include gridle_state(max-tablet) {
    position: fixed;
    top: 100px;
    z-index: 98;
    width: 100%;
    right: 0;
    display: none;
    &.show {
      display: block;
    }
    .inner-wrapper {
      max-width: 95%;
    }
    .node-header {
      display: none;
    }
    .view-total {
      display: block;
      right: 0;
      width: 100%;
    }
  }
}

.view-commerce-cart-form-feneko {
  table {
    border-collapse: separate;
    border-spacing: 0 2.5em;
  }
  tbody {
    tr {
      position: relative;
      &:before {
        content: attr(data-before);
        position:absolute;
        margin-top: -25px;
        font-weight: 700;
        font-size: 18px;
        color: $blue;
      }
    }
  }
  thead {
    tr {
      border-bottom: 2px solid $darkgrey;
    }
  }
  tbody,
  thead {
    tr td,
    tr th {
      &:nth-child(1) {
        display: none;
      }
    }
  }
  .views-field-detail {
    float: left;
    padding: 5px;
  }
  td .delete-line-item  {
    font-size: 0!important;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: rgba(5, 0, 0, 0.2)
    }
  }
  td.views-field-edit-delete {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size: 0;
  }
  td.views-field-edit-delete:before {
    content: "\f00d";
    font-size: 30px;
    color: white;
    line-height: 38px;
    display: block;
    margin-bottom: -40px;
    margin-left: 0px;
    z-index: -1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    background-color: $red;
    text-align: center;
  }
}

.form-disabled input {
  background-color: $lightgrey;
}

.page-user-orders {
  ul.action-links {
    list-style: none;
    display: initial;
    li {
      a {
        text-decoration: none;
        background-color: $orange;
        color: $white;
        padding: 10px;
        border-radius: 3px;
        &:hover {
          background-color: lighten($orange, 10%);
        }
      }
    }
  }
  .field {
    border: none;
  }
  .line-item-details ul {
    display: block!important;
  }
  td {
    vertical-align: top;
  }
  tr {
    &.even {
      background-color: $lightblue;
    }
  }
  td {
    &.active {
      background-color: transparent;
    }
  }
}

.entity-commerce-order .content {
  > .field {
    > .field-items {
      clear: both;
      padding-top: 10px;
    }
  }
}

.view-feneko-calculator-line-items,
.view-commerce-backoffice-user-orders,
.view-payments {
  table {
    width: 100%;
    thead {
      border-bottom: 5px solid $white;
    }
    tbody {
      tr {
        background-color: $lightgrey;
        border-bottom: 10px solid $white;
        td {
          padding: 10px;
        }
      }
    }
  }
}

.views-field-commerce-total {
  font-size: 20px;
  font-weight: 700;
}

.field-name-commerce-order-total {
  td {
    padding: 10px;
  }
}

.page-cart,
.page-checkout {

  @include gridle_state(max-tablet) {
    th,
    td {
      display: inline-block;
      width: 20%;
      margin-bottom: 10px;
      float: left;
      padding: 10px;
    }
    .views-field-detail {
      width: 100%;
      border-bottom: 1px solid $black;
      padding-bottom: 10px;
    }
    thead {
      display: none;
    }
  }
  input[type=submit] {
      margin-left: 2px;
      margin-top: 10px;
  }
}

.page-user-feneko-orders {
  .sticky-table {
    thead {
      font-size: 12px;
      text-align: center;
    }
  }
  @include gridle_state(min-full) {
    td:nth-child(1) {
      width: 100px;
    }
  }
}

.page-checkout {
  @include gridle_state(max-tablet) {
    td {
      width: 30%;
    }
    .commerce-price-formatted-components {
      td {
        width: 100%;
      }
    }
  }
}

.page-checkout-review {
  @include gridle_state(max-tablet) {
    td {
      width: 100%;
    }
    .commerce-price-formatted-components {
      td {
        width: 100%;
      }
    }
    .views-table {
      td {
        width: 30%;
        &.views-field-detail {
          width: 100%;
        }
      }
    }
    .commerce-price-formatted-components {
      width: 100%;
      td {
        width: 100%;
      }
    }
  }
}

// taxonomy

.page-taxonomy {
  #content {
    .term-listing-heading {
      overflow: hidden;
      margin-bottom: 50px;
    }
    img {
      width: 100%;
    }
    h2 {
      color: $grey;
    }
    .node-header {
      clear: both;
    }
    .field-name-description-field,
    .field-name-body {
      @include gridle_state (max-mobile) {
        clear: both;
      }
    }
  }
  #main-wrapper .field-name-body {
    margin-bottom: $padding*2;
  }
}

.product-teaser {
  margin: $padding*3 0;
  overflow: hidden;
  position: relative;
  .field-type-image  {
    img {
      border: 2px solid $blue;
    }
  }
}

.page-taxonomy .field-name-field-product-category-image,
.product-teaser .field-name-field-images {
  @include gridle_state (max-mobile) {
    @include gridle_grid (3);
  }
  @include gridle_state(only-mobile-port) {
    @include gridle_grid (8);
    margin: auto;
  }
  @include gridle_state (min-tablet) {
    @include gridle_grid (3);
    margin-bottom: 20px;
  }
  margin: 0;
  @include gridle_no_gutter();
}

.product-teaser .field-name-field-images {
  @include gridle_state (min-full) {
    @include gridle_grid (2);
  }
}

.page-taxonomy .field-name-field-product-category-image {

}

.product-teaser .links {
  display: inline-block!important;
  @include gridle_state (max-mobile) {
    @include gridle_grid(12);
    @include gridle_no_gutter();
    margin-top: 20px;
  }
  @include gridle_state (min-tablet) {
    @include gridle_grid (3);
    @include gridle_no_gutter();
    display: inline-block;
  }
}

.page-taxonomy .field-name-description-field,
.product-teaser .field-name-body {
  p {
    margin-top: 0;
  }
  @include gridle_state (max-mobile) {
    @include gridle_grid(8.5);
    @include gridle_no_gutter(right);
  }
  @include gridle_state (only-mobile-port) {
    @include gridle_grid(12);
    @include gridle_no_gutter();
    margin-top: 20px;
  }
  @include gridle_state (min-tablet) {
    @include gridle_grid (8.5);
    padding-left: 20px;
  }
  margin: 0;
}

.page-taxonomy .field-name-description-field {

}

.product-teaser .field-name-field-orderable-products {
  @include gridle_state (max-mobile) {
    @include gridle_grid(12);
    @include gridle_no_gutter();
    a {
      margin-top: 5px;
    }
  }
  @include gridle_state (min-tablet) {
    @include gridle_grid (7.5);
    @include gridle_no_gutter();
    display: inline-block;
    a {
      margin-top: 5px;
    }
  }
}

// colorbox

#cboxPrevious,
#cboxNext {
  &:before {
    text-shadow: 0px 0px 4px $blue;
    font-size: 32px;
  }
}

// form items

.form-item-quantity {
  input[type="text"] {
    display: inline-block;
  }
}

.commerce-quantity-plusminus-link a.button {
  padding: 6px 7px;
}

.submitted {
  font-size: 16px;
  margin-bottom: $padding*2;
  clear: both;
  color: $darkgrey;
}

form.commerce-add-to-cart {
  @include gridle_state(max-tablet) {
    padding-top: 230px;
  }
  label {
    width: 235px;
  }
  select {
    @include gridle_state(min-desk) {
      width: 65%;
    }
  }
  img.right {
    @include gridle_state(max-tablet) {
      left: 0;
    }
  }
}

// file

.field-type-file .field-item {
  margin: $padding 0;
  &:before {
    font-size: 20px;
  }
}

.file {
  a {
    height: 40px;
  }
}

// CONTACT

.c-l,
.c-r,
.view-id-contact {
  span,
  .field-name-field-label {
    font-weight: 700;
    padding-top: $padding*2;
  }
  .fa {
    clear: both;
  }
  .cl {
    clear: both;
    margin-bottom: $padding;
  }
  .tel,
  .fax,
  .btw,
  .hrb {
    margin-bottom: $padding*2;
  }
}

.c-l {
  @include gridle_state (min-tablet) {
    float: left;
    width: 52%;
  }
}

.c-r {
  @include gridle_state (min-tablet) {
    float: right;
    width: 42%;
  }
}

#map_canvas {
  height: 300px!important;
  width: 100%!important;
  margin-bottom: $padding*2;
}

.adres {
  border: 1px solid $black;
  padding: $padding;
  background-color: $darkgrey;
  color: $white;
  .fa {
    float: left;
    font-size: 20px;
  }
  .street-block,
  .addressfield-container-inline {
    margin-left: $padding*3;
  }
  #sidebar_second & {
    margin: $padding*2 0;
    width: 100%;
  }
}

.tel {
  ul {
    list-style-type: none;
    li {
      margin-left: 0;
      margin-bottom: $padding;
    }
  }
}

// social follow

$facebook: #3b5998;
$twitter: #55acee;
$contact: #f7941d;

.view-social-follow,
.views-field-field-social-follow {
  li {
    list-style-type: none;
  }
  margin-bottom: $padding*2;
  a {
    font-size: 0;
    width: $padding*5;
    height: $padding*5;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    &:before {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: $padding*5;
      font-size-adjust: none;
      font-stretch: normal;
      font-feature-settings: normal;
      font-language-override: normal;
      font-kerning: auto;
      font-synthesis: weight style;
      font-variant: normal;
      font-size: inherit;
      text-rendering: auto;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0px, 0px);
      font-size: 20px;
      text-align: center;
      width: $padding*5;
      vertical-align: middle;
      width: 100%;
    }
    &.facebook {
      background-color: $facebook;
      &:before {
          content: "\f09a";
          color: white;
      }
      &:hover {
        background-color: lighten($facebook, 10%);
      }
    }
    &.twitter {
      background-color: $twitter;
      &:before {
          content: "\f099";
          color: white;
      }
      &:hover {
        background-color: lighten($twitter, 10%);
      }
    }
    &.contactlink {
      background-color: $contact;
      &:before {
          content: "\f003";
          color: white;
      }
      &:hover {
        background-color: lighten($contact, 10%);
      }
    }
  }
  .field {
    margin: 0 $padding/2;
    display: inline-block;
  }
}

// manyform table

#manyforms-form {
  .sticky-header {
    top: 90px!important;
    z-index: 9;
  }
  .help {
    &:before {
      content: "\f059";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      font-size: 36px;
      clear: both;
      color: $black;
      cursor: pointer;
    }
    &:hover:before {
      color: $grey;
    }
  }
  .form-wrapper input[type="text"] {
    width: auto;
    display: inline;
  }
  caption {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    .text {
      display: none;
      border: 2px solid $blue;
      padding: $padding;
      margin-bottom: $padding*4;
    }
  }
  tr {
    &.odd {
      background-color: $lightblue;
    }
    &.even {
      background-color: $lightgrey;
    }
  }
  .form-type-radio {
      float: left;
      margin-right: $padding;
    }
    label {
      padding-top: 20px;
      clear: both;
    }
    .description {
      clear: both;
      padding-top: 10px;
    }
    input[type=submit] {
      clear: both;
      display: block;
      float: left;
      font-size: 18px;
    }


  @include gridle_state (max-tablet) {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px!important;
      left: -9999px!important;
    }
    caption {
      display: block;
    }
    tr {
      border: 1px solid #ccc;
    }
    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      height: 32px;
      &[data-before="opmerking"] {
        border: none;
      }
    }
    td:before {
      position: absolute;
      top: 10px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-before);
      font-weight: 700;
    }
  }
  @include gridle_state (min-desk) {

    th {
      height: 100px;
      white-space: nowrap;
      div {
        transform:
        translate(7px, 51px)
        rotate(315deg);
        width: 30px;
      }
      span {
        padding: 5px 10px 5px 40px;
        border-top: 1px solid #ccc;
        width: 140px;
        display: inline-block;
      }
      br {
        content: "&nbsp;";
        width: 5px;
        display: inline-block;
      }
    }
    td {
      padding: $padding/2;
      &[data-before="aantal"],
      &[data-before="standaard T"],
      &[data-before="T standard"],
      &[data-before="nombre"] {
        width: 40px;
      }
      &[data-before="breedte(mm)"],
      &[data-before="hoogte(mm)"],
      &[data-before="largeur(mm)"],
      &[data-before="hauteur(mm)"],
      &[data-before="T1"],
      &[data-before="T2"],
      &[data-before="T3"],
      &[data-before="lengterails"],
      &[data-before="lgrails"] {
        width: 60px;
      }
    }
    #edit-dierendeur-dep {
      clear: both;
    }
  }
}

input {
  width: auto;
}

.page-user-feneko-orders {
  .filters {
    .form-item {
      border-bottom: none;
    }
    .fieldset-wrapper {
      padding-top: 30px;
      > div.actions {
        clear: both;
        margin-top: 20px;
      }
      @include gridle_state(max-tablet) {
        > div {
          clear: both;
          width: 100%;
          border: none;
          border-left: none!important;
          border-right: none!important;
          &:nth-child(2),
          &:nth-child(3) {
            padding-left: 0;
          }
        }
        .container-inline-date {
          padding-left: 0;
        }
      }
    }
  }
  .container-inline-date .date-padding {
    float: none;
  }
}

.page-user-feneko-orders {
  @include gridle_state (max-desk) {
    .sticky-header {
      display: none;
    }
  }
  .sticky-table {
    width: 100%;
  }
}

.page-user-orders,
.page-user-feneko-orders .sticky-table {
  tr {
    border-bottom: none;
    &.even {
      background-color: $lightblue;
    }
    td {
      vertical-align: middle;
    }
    @include gridle_state (min-full) {
      &:nth-child(odd) {
        font-weight: bold;
      }
    }
    &:nth-child(2n+0) {
      border-bottom: 5px solid $white;
    }
  }
  @include gridle_state (max-desk) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px!important;
      left: -9999px!important;
    }
    caption {
      display: block;
    }
    td {
      border: none;
      border-bottom: 1px solid $black;
      position: relative;
      padding-left: 50%;
      height: 32px;
      text-align: right;
    }
    td:before {
      position: absolute;
      top: 10px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-before);
      font-weight: 700;
      text-align: left;
    }
    tr:nth-child(odd) {
      font-weight: bold;
      td {
        padding-left: 6px;
        height: 42px;
        text-align: left;
        padding-top: 8px;
      }
      td:before {
        content: "";
      }
    }
  }
  @include gridle_state(min-desk) {
    td {
      padding: 5px;
    }
  }
  tr.even:nth-child(odd) {
    background-color: lighten($lightblue, 15%);
  }
  tr.odd:nth-child(odd) {
    background-color: lighten($lightgrey, 5%);
  }
}


// CK editor styles

.ck-knop {
  @extend %button;
}

.ck-check {
  margin-bottom: $padding/2;
  display: table;
  &:before {
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    float: left;
    font-size: 16px;
    clear: both;
    padding-right: $padding;
    color: $green;
  }
}

// File

.field-type-file {
  .field-item {
    color: $blue;
    &:before {
      color: $blue;
    }
    .file {
      a {
        color: $blue;
      }
    }
    &:hover {
      color: $grey;
      &:before {
        color: $grey;
      }
      .file {
        a {
          color: $grey;
        }
      }
    }
  }
}

.open-img {
  border: 1px solid $orange;
  background-color: $blue;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  color: $white;
  cursor: pointer;
  margin-bottom: 30px;
  @include gridle_state (min-tablet) {
    display: none;
  }
}

.view-about {
  div.tabs {
    right: 50px;
  }
}

.catalog {
  a {
    padding: 10px;
    background-color: $blue;
    color: $white;
    border-radius: 3px;
    text-decoration: none;
    &:hover {
      background-color: lighten($blue, 10%);
    }
  }
}

.cat-bestel {
  @include gridle_state(only-desk) {

  }
  @include gridle_state(min-full) {
    left: 110%;
    position: relative;
    padding-left: 40px;
    padding-bottom: 20px;
    top: -50px;
  }
}

.page-node.logged-in .prod-info {
  @include gridle_state(min-full) {
    position: relative;
    top: -130px;
  }
}

html.js {
  fieldset.collapsed {
    height: 3em;
    margin-top: 20px;
  }
}


