body {
  color: $black;
  font-family: $main-font;
  font-size: $main-font-size;
}

a {
  color: $blue;
  &:hover {
    color: $darkgrey;
  }
}

// node-readmore

%button {
  background: $blue;
  transition: background-color 0.2s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: $padding/4 $padding;
  margin-right: $padding/2;
  color: $white;
  @include crisp;
  a {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    background: $blue;
  }
}

input[type="submit"],
#edit-cancel,
.button,
.node-readmore a {
  @extend %button;
}

li.node-readmore {
  padding: 0!important;
}

ul.tabs {
  &.primary {
    a {
      @extend %button;
    }
    li {
      &.active {
        a {
          background-color: $lightblue;
          color: $blue;
          border: none;
          &:hover {
            background-color: $blue;
            color: $lightblue;
          }
        }
      }
    }
  }
}

// TITELS


h1,
h2,
h1 a,
h2 a,
.view-grouping-header {
  color: $blue;
  font-weight: normal;
  font-weight: bold;
}

h1,
h1 a,
.view-grouping-header,
#block-menu-menu-waarom-feneko h2 {
  font-size: 36px;
  margin-bottom: 48px;
}

#sidebar_second {
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.view-grouping-header {
  margin-bottom: 60px;
}

.view-grouping-content .view-grouping-header {
  margin-bottom: 0;
}

h2 {
  font-size: 26px;
  margin-bottom: 14px;
}

h3,
h3 a,
.fieldset-legend,
.view-grouping-content .view-grouping-header a {
  color: $darkgrey;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

// regions

.wrapper {
  overflow: hidden;
}

#header-wrapper {
  background-color: $grey;
  overflow: hidden;
  clear: both;
  padding: $padding*2.5 0;
  @include gridle_state (max-tablet) {
    -webkit-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    display: none;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 9;
  }
}

#usermenu-wrapper {
  clear: both;
}

#content {
  clear: both;
}

.logo {
  @include gridle_state (max-tablet) {
    display: none;
  }

}

.feneko_fenek,
.feneko_o {
  font-family: georgia, serif;
  font-size: 40px;
}

.feneko_fenek {
  color: $black;
}

.feneko_o {
  color: $blue;
}

// front regions

#frontblock-wrapper,
#bottomblock-wrapper,
#main-wrapper {
  &.wrapper {
    padding: $padding*4 0;
  }
}

#main-wrapper {
  &.wrapper {
    @include gridle_state (max-tablet) {
      padding-top: $padding*8;
    }
  }
  .field-name-body {
    margin-bottom: $padding*6;
  }
  ul.links.inline {
    display: inherit;
  }
  .node-readmore {
    a {
      color: $blue;
      font-weight: 700;
      border: 2px solid $blue;
      background-color: $white;
      padding: 5px 20px;
      display: inherit;
      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }
}

.front #main-wrapper,
#bottomblock-wrapper {
  text-align: center;
}

#frontblock-wrapper {
  background-color: $blue;
  * {
    color: $white;
  }
}

#bottomblock-wrapper {
  background-color: $grey;
  .menu {
    text-align: center;
    li {
      display: inline-block;
      vertical-align: top;
      @include gridle_state (max-mobile) {
        margin-bottom: $padding*5;
      }
    }
    .first,
    .last {
      a {
        width: 205px;
        height: 275px;
        background-position: 0 70px;
        background-repeat: no-repeat;
        background-size: 205px 205px;
        display: block;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .first a {
      background-image: url(../img/fabriek.png);
      @include gridle_state (min-tablet) {
        margin-right: $padding*2;
      }
    }
    .last a {
      background-image: url(../img/doos.png);
      @include gridle_state (min-tablet) {
        margin-left: $padding*2;
      }
    }
  }
}

#cover-wrapper {
  position: relative;
  clear: both;
  @include gridle_state (max-tablet) {
    top: 60px;
  }
  img {
    width: 100%;
    display: block;
  }
  .inner-wrapper {
    position: absolute;
    @include gridle_state (max-mobile) {
      //background-color: $bluetrans;
      max-width: none;
      top: 0;
    }
    @include gridle_state (max-tablet) {
      //max-width: none;
    }
    @include gridle_state (max-tablet) {
      bottom: 0;
      left: 0;
      right: 0;
    }
    @include gridle_state (only-tablet) {
      top: 25%;
    }
    @include gridle_state (min-desk) {
      bottom: 20%;
      left: 10%;
    }
  }
  .big-image-caption {
    @include gridle_state (max-mobile) {
      margin: 0;
      text-align: center;
    }
    @include gridle_state (only-mobile-land) {
      max-width: 85%;
      margin: 8% auto 0;
    }
    @include gridle_state (only-tablet) {
      margin-bottom: 50px;
    }
  }
  .node-readmore {
    @include gridle_state (max-mobile) {
      text-align: center;
      margin-top: $padding;
      position: absolute;
      bottom: $padding;
      left: 0;
      right: 0;
      margin: 0 auto $padding*2;
    }
    @include gridle_state (only-mobile-land) {
      margin-bottom: $padding*3;
    }
  }
  .node-readmore a {
    @include gridle_state (max-mobile) {
      background-color: transparent;
      border: 1px solid $white;
      text-align: center;
      display: inline;
    }
    @include gridle_state (min-tablet) {
      display: initial;
    }
  }
  .big-image-caption,
  .node-readmore a {
    color: $white;
    padding: $padding $padding*2;
    font-weight: 700;
    background-color: $bluetrans;
      border: 1px solid $black;
    @include gridle_state (only-tablet) {
      font-size: 16px;
    }
    @include gridle_state (min-tablet) {
      max-width: 80%;

    }
    @include gridle_state (min-desk) {
      font-size: 24px;
    }
  }
  .node-readmore {
    a {
      &:hover {
        background-color: $lightblue;
      }
    }
  }
}

#footer-footer {
  background-color: $darkgrey;
  color: $white;
  padding: $padding*3 0 $padding*6;
  @include gridle_state (max-mobile) {
    text-align: center;
  }
  a {
    color: $white;
    &:hover {
      color: $lightblue;
    }
  }
  ul.menu {
    width: 100%;
    @include gridle_state (max-mobile) {
      text-align: center;
    }
    li {
      margin-bottom: $padding/2;
    }
  }
  .opening {
    @include gridle_state (max-mobile) {
      width: 200px;
    }
  }
  #block-menu-menu-footer-menu,
  .footer-block > div {
    @include gridle_state (max-mobile) {
      margin: auto;
      float: none;
      margin-bottom: $padding*2;
    }
  }
}

// MENU

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

#mainmenu-wrapper {
  position: relative;
  @include linear-gradient(rgba(28,64,99,1), rgba(41,93,143,1));
  @include gridle_state (max-tablet) {
    -webkit-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
  }
  &.wrapper {
    clear: both;
    @include gridle_state (max-tablet) {
      top: 60px;
      position: fixed;
      width: 100%;
      z-index: 99;
    }
  }
  &.cloned {
    -webkit-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
  }
  li {
    @include gridle_state (min-desk){
      display: inline-block;
    }
  }
  #main_menu {
    margin: $padding*2 0;
  }
  .menu {
    color: $white;
    margin: 0;
    @include gridle_state (max-tablet) {
      width: 100%;
    }
    @include gridle_state (min-tablet) {
      float: left;
    }
    a {
      color: $white;
      &:hover {
        color: $lightblue;
      }
      &.active {
        font-weight: 700;
      }
      @include gridle_state (max-tablet) {
        padding: $padding/2 0;
        display: block;
        width: 100%;
      }
      @include gridle_state (min-desk) {
        padding-right: $padding/2;
      }
      &:after {
        @include gridle_state (min-desk) {
          content: "\007C";
          padding-left: $padding;
          color: $white;
        }
      }
    }
    li {
      @include gridle_state (max-tablet) {
        display: block;
        width: 100%;
      }
    }
  }
}

#block-system-user-menu {
  .menu {
    li.first {
      a {
        padding-left: 5px;
      }
    }
    li.last {
      a:after {
        content: "";
      }
    }
  }
}

#usermenu-wrapper {
  background-color: $black;
  color: $white;
  a {
    color: $white;
  }
  li {
    @include gridle_state (min-desk){
      display: inline-block;
    }
  }
}


// TOTOP

.totop {
  padding: $padding;
  background-color: $black;
  color: $white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

// small blocks

#mobile-header {
  position: fixed;
  width: 100%;
  z-index: 99;
  -webkit-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 31px -3px rgba(0,0,0,0.75);
}

.small-block {
  display: table;
  width: 25%;
  cursor: pointer;
  height: 60px;
  @include linear-gradient(rgba(255,255,255,1), rgba(203,217,216,1));
  border-right: 1px solid $grey;
  color: $black;
  @include gridle_state (max-mobile) {
    font-size: 0;
    .fa {
      font-size: 20px;
    }
  }
  @include gridle_state (min-desk) {
    display: none;
  }
  &.last {
    border-right: none;
  }
  a {
    color: $black;
    text-decoration: none;
  }
  .inner-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  img {
    @include gridle_state (max-mobile) {
      max-width: 70%;
      width: 50px;
    }
    @include gridle_state (only-tablet) {
      max-width: 30%;
    }
  }
}

// search

#block-search-form,
#search-form {
  input[type="text"] {
    padding-right: 30px;
  }
  input[type="submit"] {
    font-size: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url(../img/search.png);
    background-size: cover;
    border: none;
    margin-right: 5px;
    margin-top: 5px;
  }
}

#search-form {
  input[type="submit"] {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

#block-search-form {
  input[type="text"] {
    background-color: $grey;
    border: 2px solid $darkgrey;
  }
}

.search-results {
  clear: both;
}

// language switcher

#block-locale-language {
  clear: both;
  padding-top: $padding*2;
}

.language-switcher-locale-url {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    a {
      padding: $padding/2 $padding;
      background-color: $blue;
      border-radius: $padding;
      font-weight: 700;
      &:hover {
        background-color: $lightgrey;
      }
    }
    .active {
      opacity: 0.7;
    }
  }
}

.node-type-article {
  #content {
    img {
      float: left;
      padding-right: $padding*2;
      padding-bottom: $padding;
    }
  }
}

// rijen

.teaser-rij {
  overflow: hidden;
  margin-bottom: $padding;
  img {
    float: left;
    padding-right: $padding*2;
    padding-bottom: $padding;
  }
}

.machine-rij {
  width: 48%;
  background-color: $lightgrey;
  padding: $padding;
  &:nth-child(2n + 0) {
    float: right;
    clear: none;
  }
  &:nth-child(2n+1) {
    float: left;
    clear: both;
  }
}

.nieuws-rij {
  margin-bottom: $padding*3;
  .node-readmore {
    float: right;
  }
  h2 {
    font-size: 20px;
    @include gridle_state(min-desk) {
      margin-bottom: $padding*3;
      height: 50px;
    }
  }
  img {
    clear: both;
    @include gridle_state(max-mobile) {
      width: 30%;
    }
    @include gridle_state (only-tablet) {
      width: 20%;
    }
    @include gridle_state (min-desk) {
      width: 30%;
    }
  }
  &.views-row-first {
    h2 {
      float: left;
      font-size: 26px;
    }
    img {
      @include gridle_state (min-desk) {
        width: auto;
      }
    }
    .datum {
      @include gridle_state(max-tablet) {
        float: left;
        clear: both;
      }
      @include gridle_state(min-desk) {
        float: right;
      }
      + * {
        clear: both;
        display: block;
      }
    }
  }
}


//view

.view-main-categories {
  .view-grouping {
    clear: both;
    margin-bottom: $padding*3;
    overflow: hidden;
    a {
      text-decoration: none;
    }
  }
  img {
    float: left;
    padding-right: $padding;
  }
  h3 {
    margin-bottom: $padding*2;
  }
  .view-grouping-header {
    a {
      display: block;
    }
  }
  .view-grouping-content {
    div {
      font-size: 16px;
    }
    .views-row-odd,
    .views-row-even {
      font-weight: 700;
      margin-bottom: $padding*2;
    }
  }
}

.categorie-rij {
  h3 {
    text-transform: uppercase;
  }
}

#block-views-main-categories-block-1 {
  .view-content {
    text-align: center;
  }
  .view-grouping .view-grouping {
    width: 250px;
    display: inline-block;
    text-align: center;
    clear: none;
    vertical-align: top;
    .view-grouping-header {
      overflow: hidden;
      width: 190px;
      height: 190px;
      border-radius: 50%;
      display: block;
      overflow: hidden;
      margin: auto auto $padding*4 auto;
      -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
      border: 2px solid $lightblue;
    }
    h3 {
      clear: both;
      text-align: center;
      margin-bottom: 16px;
      a {
        display: block;
        border: 2px solid $white;
        width: 85%;
        padding: $padding;
        font-size: 16px;
        margin: auto;
      }
    }
    &:hover {
      h3 {
        a {
          background-color: $white;
        color: $blue;
        }

      }
      img {
        -webkit-transform:scale(1.15);
        transform:scale(1.15);
        opacity:0.7;
      }
    }
  }
  img {
    width: 190px;
    height: 190px;
    padding: 0;
    -webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
    transition: opacity 0.35s,transform 0.35s;
  }
}

// NODE TYPES

.node-type-product {
  .field-name-field-images {
    .field-item {
      @include gridle_state(max-tablet) {
        width: 25%;
      }
      @include gridle_state (min-desk) {
        width: 50%;
      }

      float: left;
      margin-bottom: $padding*2;
      img {
        width: 85%;
        border: 2px solid $blue;
      }
      @include gridle_state(min-desk) {
        &.even {
          img {
            float: right;
          }
        }
        &.odd {
          img {
            float: left;
          }
        }
      }
      &:nth-child(1) {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

.field-name-field-orderable-products {
  a {
    margin-bottom: $padding;
    @extend %button;
    background-color: darken($orange, 5%);
    border-radius: 5px;
    padding: $padding;
    text-transform: lowercase;
    &:first-letter {
      text-transform: uppercase;
    }
    &:hover {
      background-color: lighten($orange, 15%);
    }
  }
}

.field-name-body {
  a {
    font-weight: 700;
  }
}

// HTABS

.field-group-htabs-wrapper {
    .selected {
      margin-bottom: -1px!important;
      &:hover {
          border-bottom: none!important;
        }
      a {
        &:hover {
          background-color: $white!important;
          border: none!important;
        }
      }
    }
}

.horizontal-tabs ul.horizontal-tabs-list {
  background-color: $white;
  border-right: none;
  display: flex;
  @include gridle_state(max-tablet) {
    display: block;
  }
}

.horizontal-tabs-list {

}

.horizontal-tab-button {
  border-left: 1px solid $grey;
  border-top: 1px solid $grey;
  border-right: 1px solid $grey;
  @include gridle_state (max-tablet) {
    width: 100%;
  }
}

div.horizontal-tabs {
  border: none;
}

.horizontal-tabs-panes {
  border: 1px solid $grey;
  padding: $padding;
}

#block-views-related-block {
  text-align: center;
  .views-field-title {
    font-weight: 700;
    margin-top: $padding;
  }
}

// SHOPPING CART

//BOTH BLOCK & FORM


.view-feneko-shopping-cart-block,
.view-commerce-cart-form-feneko {
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5em;
  }
  tr {
    &.even,
    &.odd {
      background-color: $lightgrey;
      border: none;
      color: $black;
    }

  }
  td {
    font-weight: bold;
    cursor: pointer;
  }
  .node-header h1,
  .line-item-summary-view-cart  {
    position: relative;
    display: inline-block;
    &:after {
      content: "\f07a";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      float: right;
      font-size: 36px;
      clear: both;
      margin-top: 4px;
    }
  }
  .node-header {
    cursor: pointer;
  }
  input[type="submit"] {
    &#edit-submit {
      background: transparent;
      text-decoration: underline;
      color: $blue;
      &:hover {
        color: $lightblue;
      }
    }
  }
}

.view-feneko-shopping-cart-block {
  cursor: default;
  ul.inline, ul.links.inline {
    display: block;
    margin-top: 1em;
  }
  .node-header h1 {
    color: $white;
    font-size: $main-font-size;
    float: right;
    font-family: $main-font;
    font-weight: normal;
    margin: 0;
    margin-top: -40px;
    &:after {
      font-size: 16px;
      padding-left: $padding;
    }
    &:hover {
      color: $lightblue;
    }
  }
  th {
    padding: $padding;
  }
  tr {
    &.even,
    &.odd {
      background-color: $lightgrey;
      border: none;
      color: $black;
    }
    &:after {
      content: "\f0d7";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      float: right;
      font-size: 1em;
      clear: both;
      padding: $padding;
    }
    &.open {
      &:after {
        content: "\f0d8";
      }
    }
  }
  td {
    font-weight: bold;
    cursor: pointer;
  }
  .view-total {
    display: none;
    background-color: $blue;
    padding: $padding;
    position: absolute;
    z-index: 9;
  }
  .view-footer {
    padding: $padding;
    color: white;
    font-size: 1.5em;
    a {
      color: $white;
      text-decoration: none;
    }
  }
  .line-item-summary-view-cart {
    width: 100%;
    background-color: $yellow;
    color: $blue;
    a {
      color: $blue;
    }
  }
  .line-item-quantity,
  .line-item-total {
    padding: 0 $padding;
  }
  .views-field-type {
    padding: $padding 0 $padding $padding;
    width: 60%;
  }
  .views-field-quantity {
    width: 15%;
  }
  .views-field-commerce-total {
    width: 25%;
    padding-right: $padding;
  }
  .detail {
    font-weight: normal;
    font-size: 0.8em;
    padding-top: $padding*1.5;
    line-height: 150%;
  }
}

// taxonomy

.page-taxonomy {
  #content {
    .field-name-field-product-category-image {
      float: left;
      margin-right: $padding*2;
      margin-bottom: $padding*2;
    }
    .node-header {
      clear: both;
    }
    .links.inline {
      @include gridle_state (min-tablet) {
        float: left;
        margin: 10px 20px 50px 0;
      }
    }
    .field-name-field-orderable-products {
      @include gridle_state (min-tablet) {
        margin-left: $padding;
      }
      .field-item {
        float: left;
        padding-right: $padding*2;
      }
    }
  }
  #main-wrapper .field-name-body {
    margin-bottom: $padding*2;
  }
}

// colorbox

#cboxPrevious,
#cboxNext {
  &:before {
    text-shadow: 0px 0px 4px $blue;
    font-size: 32px;
  }
}

// form items

.form-item-quantity {
  input[type="text"] {
    display: inline-block;
  }
}

.commerce-quantity-plusminus-link a.button {
  padding: 6px 7px;
}


.submitted {
  font-size: 16px;
  margin-bottom: $padding*2;
  clear: both;
  color: $darkgrey;
}

form.commerce-add-to-cart {
  @include gridle_state(max-tablet) {
    padding-top: 230px;
  }
  label {
    width: 235px;
  }
  select {
    @include gridle_state(min-desk) {
      width: 65%;
    }
  }
  img.right {
    @include gridle_state(max-tablet) {
      left: 0;
    }
  }
}

// file

.field-type-file .field-item {
  margin: $padding 0;
  &:before {
    font-size: 20px;
  }
}

.file {
  a {
    height: 40px;
  }
}

// CONTACT

.view-id-contact {
  #map_canvas {
    height: 300px!important;
    @include gridle_state (only-mobile-port) {
      width: 100%!important;
    }
    #main-content & {
      @include gridle_state (only-mobile-land min-tablet) {
        width: 48%!important;
        float: left;
      }
    }
    #sidebar_second & {
      width: 100%!important;
    }
  }
  .adres,
  .mail {
    @include gridle_state(only-mobile-port) {
      margin: $padding*2 0;
    }
    #main-content & {
      @include gridle_state(only-mobile-land min-tablet) {
        width: 50%;
        float: right;
      }
    }
  }
}

.adres {
  border: 1px solid $black;
  padding: $padding;
  background-color: $darkgrey;
  color: $white;
  .fa {
    float: left;
    font-size: 20px;
  }
  .street-block,
  .addressfield-container-inline {
    margin-left: $padding*3;
  }
  #sidebar_second & {
    margin: $padding*2 0;
    width: 100%;
  }
  #main-content & {
    margin-bottom: $padding*2;
  }
}

.mail {
  margin: $padding*2 0;
}

.tel {
  clear: both;
  ul {
    list-style-type: none;
    li {
      margin-left: 0;
      margin-bottom: $padding;
    }
  }
  .field-name-field-label {
    font-weight: 700;
  }
}

.tel,
.fax,
.route {
  span {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: $padding;
    padding-top: $padding*2;
    display: block;
  }
}

// CK editor styles

.ck-knop {
  @extend %button;
}

.ck-check {
  margin-bottom: $padding/2;
  display: table;
  &:before {
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    float: left;
    font-size: 16px;
    clear: both;
    padding-right: $padding;
    color: $green;
  }
}
