input {
  width: auto;
}

#autocomplete {
  z-index: 999!important;
  ul {
    z-index: 999!important;
  }
}

.form-radios {
  clear: both;
}

input[title="Hoeveelheid"] {
  width: 50px;
  text-align: right;
}

.form-disabled input {
  background-color: $lightgrey;
}

#fc-cart-init-form {
  margin-bottom: 30px;
}

#commerce-checkout-form-checkout,
.page-checkout {
  .node-header h1,
  .line-item-summary-view-cart  {
    position: relative;
    display: inline-block;
    &:before {
      content: "\f07a";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      float: right;
      font-size: 30px;
      clear: both;
      padding: 5px;
    }
  }
  .node-header {
    cursor: pointer;
  }
  input[type="submit"] {
    &#edit-submit,
    &#edit-submit--2,
    &.checkout-cancel {
      background: transparent;
      text-decoration: underline;
      color: $blue;
      &:hover {
        color: $lightblue;
      }
    }
  }
}

.checkout-buttons,
.commerce-line-item-actions {
  border: 1px solid $darkgrey;
  float: right;
  padding: 10px;
  input[type="submit"] {
    padding: 5px 10px;
    margin-left: 10px;
  }
}

.form-item-quantity {
  input[type="text"] {
    display: inline-block;
  }
}

.commerce-quantity-plusminus-link a.button {
  padding: 6px 7px;
}

.submitted {
  font-size: 16px;
  margin-bottom: $padding*2;
  clear: both;
  color: $darkgrey;
}

form.commerce-add-to-cart {
  @include gridle_state(max-tablet) {
    padding-top: 230px;
  }
  label {
    width: 235px;
  }
  select {
    @include gridle_state(min-desk) {
      width: 65%;
    }
  }
  img.right {
    @include gridle_state(max-tablet) {
      left: 0;
    }
  }
}

.dep-container {
  float: left;
  .form-item {
    margin-top: 0;
  }
}

#edit-dierendeur {
  .dep-container {
    clear: both;
    padding-top: 10px;
  }
}

#manyforms-form {
  .sticky-header {
    top: 60px!important;
    z-index: 9;
    border-bottom: 2px solid $grey;
    .admin-menu & {
      top: 90px!important;
    }
  }
  .form-wrapper input[type="text"] {
    width: auto;
    width: 200px;
    display: inline;
  }
  input[type=submit] {
    margin: 0;
  }
  #edit-actions {
    clear: both;
    padding-top: 30px;
    a {
      display: block;
      padding-top: 5px;
    }
    input[type=submit] {
      margin-right: 20px;
    }
  }
  caption {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    .text {
      display: none;
      border: 2px solid $blue;
      padding: $padding;
      margin-bottom: $padding*4;
    }
  }
  .form-type-radio {
    float: left;
    margin-right: $padding;
  }
  label {
    padding-top: 20px;
    clear: both;
  }
  .description {
    clear: both;
    padding-top: 10px;
  }
  input[type=submit] {
    clear: both;
    display: block;
    float: left;
    font-size: 18px;
  }
}

.line-item-details {
  .field {
    border-bottom: 1px solid $white;
    padding: 4px 0;
    &:nth-last-child(1) {
      border-bottom: none;
    }
  }
  .field-label {
    width: 180px;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
}

.page-user-retour {
  #main-wrapper {
    .field,
    .form-item {
      border-bottom: none;
    }
    .form-radios {
      clear: both;
    }
    .form-type-radio {
      float: left;
      margin-right: 10px;
    }
    label {
      min-width: 80px;
      width: auto;
    }
  }
}

.filters {
  padding: 0;
  .form-item {
    border-bottom: none;
  }
  .fieldset-wrapper {
    margin-top: 30px;
    > div.actions {
      clear: both;
      margin-top: 20px;
    }
    > div {
      &:nth-child(2),
      &:nth-child(3) {
        padding-left: 0;
        border-left: none;
        border-right: none;
      }
    }
    @include gridle_state(max-tablet) {
      > div {
        clear: both;
        width: 100%;
        border: none;
        border-left: none!important;
        border-right: none!important;
        &:nth-child(2),
        &:nth-child(3) {
          padding-left: 0;
        }
      }
      .container-inline-date {
        padding-left: 0;
      }
    }
    @include gridle_state(only-mobile-land only-tablet) {
      > div {
        &.container-inline-date {
          width: 50%;
        }
      }
    }
    @include gridle_state(min-desk) {
      > div {
        &.container-inline-date {
          width: 23%;
        }
      }
    }
  }
}

.container-inline-date .date-padding {
  float: none;
}

#edit-filter-ref {
  width: 90%;
}


html.js {
  fieldset {
    &.collapsible {
      margin-top: 20px;
    }
    &.collapsed {
      height: 3em;
    }
  }
}

.view-commerce-cart-form-feneko {
  .views-field-detail {
    @include gridle_state(min-desk) {
      float: left;
    }
  }
}

.view-commerce-cart-form-feneko {
  input[type="submit"].delete-line-item {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
  td .delete-line-item  {
    font-size: 0!important;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
  }
  td.views-field-edit-delete {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size: 0;
  }
  td.views-field-edit-delete:before {
    content: "\f00d";
    font-size: 30px;
    color: white;
    line-height: 38px;
    display: block;
    margin-bottom: -40px;
    margin-left: 0px;
    z-index: -1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    background-color: $red;
    text-align: center;
  }
  td.views-field-edit-delete:hover:before {
    background-color: darken($red, 15%);
  }
}
