.inner-wrapper {
  margin: auto;
  @include gridle_state (max-mobile) {
    max-width: 90%;
  }
  @include gridle_state (only-tablet) {
    max-width: 90%;
  }
  @include gridle_state (only-desk) {
    max-width: 80%;
  }
  @include gridle_state (min-full) {
    max-width: 80%;
  }
}

.logo {
  @include gridle_no_gutter();
  @include gridle_state(min-desk) {
    @include gridle_grid (6);
  }
}

#header {
  @include gridle_state(max-tablet) {
    @include gridle_grid (12);
  }
  @include gridle_state(min-desk) {
    @include gridle_grid (4);
    @include gridle_push (2);
  }
}

.small-block {
  @include gridle_no_gutter();
  @include gridle_state(max-tablet) {
    @include gridle_grid (4);
  }
  @include gridle_state (min-desk) {
    display: none;
  }
}

.not-logged-in {
  #cart-small {
    display: none;
  }
}

.logged-in {
  #user-small {
    display: none;
  }
}

#main_menu {
  @include gridle_no_gutter();
  @include gridle_state (max-tablet) {
    width: 100%;
  }
  @include gridle_state(min-desk) {
    @include gridle_grid (12);
  }
}

#content {
  @include gridle_state(max-mobile) {
    @include gridle_grid (12);
  }
  .node-type-product & {
    @include gridle_state(only-desk) {
      @include gridle_grid (9);
    }
    @include gridle_state(min-full) {
      @include gridle_grid (9);
    }
  }
  .no-sidebars & {
    @include gridle ( 12 );
    @include gridle_no_gutter ();
  }
  .page-about & {
    @include gridle_state(min-desk) {
      @include gridle_grid (8);
    }
  }
}

.node-type-product {
  aside#sidebar_second {
    @include gridle_state (min-desk) {
      @include gridle_grid (3);
      @include gridle_no_gutter();
        margin-top: 175px;

      }
  }
}

#sidebar_second {
  .page-about & {
    @include gridle_state (min-desk) {
      @include gridle_push (1);
    }
  }
}

.nieuws-rij {
  @include gridle_state(min-desk) {
    @include gridle_grid (4);
  }
  @include gridle_state(max-tablet) {
    @include gridle_grid (12);
    @include gridle_no_gutter();
  }
  &.views-row-first {
    @include gridle_state(min-desk) {
      @include gridle_grid (12);
    }
    @include gridle_no_gutter();
  }
  &:nth-child(3n+2) {
    @include gridle_state(min-desk) {
      @include gridle_no_gutter (left);
    }
  }
  &:nth-child(3n+4) {
    @include gridle_state(min-desk) {
      @include gridle_no_gutter (right);
    }
  }
}

.view-feneko-shopping-cart-block {
  .view-total {
    @include gridle_state(min-desk) {
      @include gridle_grid (9);
      @include gridle_push (3);
    }
    @include gridle_state(min-full) {
      @include gridle_grid (7);
      @include gridle_push (5);
    }
    @include gridle_no_gutter;
    clear: both;
    float: right;
  }
  .node-header {
    padding-right: 10px;
  }
}


// PROD

.first-col {
  @include gridle_state(max-mobile) {
    @include gridle_grid (12);
  }
  @include gridle_state(only-tablet) {
    @include gridle_grid (4);
  }
  @include gridle_state(max-tablet) {
    @include gridle_no_gutter();
  }
  @include gridle_state(min-desk) {
    @include gridle_grid (4);
    @include gridle_no_gutter(left);
  }
}

.second-col {
  @include gridle_no_gutter (right);
  @include gridle_state(max-mobile) {
    @include gridle_grid (12);
    @include gridle_no_gutter();
  }
  @include gridle_state(only-tablet) {
    @include gridle_grid (7);
  }
  @include gridle_state(max-mobile) {
    @include gridle_no_gutter();
  }
  @include gridle_state(min-desk) {
      @include gridle_grid (7);
    }
}

// SEARCH

#search-form {
  @include gridle_no_gutter;
  @include gridle_state(min-desk) {
      @include gridle_grid (6);
    }
}
