$background-control-color: transparent;
$background-control-color-hover: rgba(100, 100, 100, 0.7);
$control-color: $white;
$background-button-color: transparent;
$background-button-color-hover: rgba(100, 100, 100, 0.9);
$button-color: $white;
$button-color-hover: $white;
$button-border-color: $white;
$background-panel-color: transparent;
$panel-color: $white;

#block-views-slide-block-1 {
	color: $panel-color;
	.views-content-counter {
		color: $black;
	}
	.widget_pager {
		text-align: center;
		.views-slideshow-pager-field-item {
			display: inline-block;
			cursor: pointer;
			font-size: 0;
			width: $padding*2;
			height: $padding*2;
			background-color: $black;
			border-radius: 50%;
			&.active  {
				background-color: $blue;
			}
		}
	}
	.field-collection-item-field-tekst {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		padding: $padding $padding*6.5;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center; /* align horizontal */
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		.content {
			//padding: 0 $padding*7;
			text-align: center;
			background-color: $background-panel-color;
			
			.field-name-field-caption-klein,
			.field-name-field-caption-groot,
			.field-name-field-slide-body,
			.field-name-field-slide-link {
				line-height: 100%;
			}
			.field-name-field-slide-link {
				margin-top: $padding*2;
				a,
				a:visited {
					@extend %button;
					background-color: $background-button-color;
					color: $button-color;
					border-color: $button-border-color;
					&:hover {
						background-color: $background-button-color-hover;
						color: $button-color-hover!important;
					}
				}
			}
			.field-name-field-caption-klein,
			.field-name-field-caption-groot {
				text-transform: uppercase;

			}
			.field-name-field-caption-groot {

			}
			.field-name-field-slide-link {
				
			}	
		}
	}
	img {
		display: block;
	}
	img,
	.views-slideshow-cycle-main-frame,
	.views-slideshow-cycle-main-frame-row {
		width: 100%!important;
	}
	//current slide effects
	.field-name-field-caption-klein,
	.field-name-field-caption-groot,
	.field-name-field-slide-body,
	.field-name-field-slide-link {
		opacity: 0;
		position: relative;
    	transition: 0.5s;
    	font-size: 12px;
	}
	.field-name-field-caption-klein,
	.field-name-field-caption-groot {
		top: -50px;
	}
	.current,
	.firststate {
		.field-name-field-caption-groot,
		.field-name-field-caption-klein,
		.field-name-field-slide-body,
		.field-name-field-slide-link  {
			opacity: 1!important;
    		top: 0;
		}
		/*
		@include gridle_state(mobilep) {
				.field-name-field-caption-klein {
					font-size: 16px;
				}
				.field-name-field-caption-groot {
					font-size: 20px;
					margin-bottom: 5px;
				}
			}
			@include gridle_state(mobilel) {
				.field-name-field-caption-klein {
					font-size: 16px;
				}
				.field-name-field-caption-groot {
					font-size: 18px;
					margin-bottom: 5px;
				}
			}
			@include gridle_state(tabletp) {
				.field-name-field-caption-klein {
					font-size: 20px;
				}
				.field-name-field-caption-groot {
					font-size: 22px;
				}
			}
			@include gridle_state(tabletl) {
				.field-name-field-caption-klein {
					font-size: 20px;
				}
				.field-name-field-caption-groot {
					font-size: 26px;
				}
			}
			@include gridle_state(desktop) {
				.field-name-field-caption-klein {
					font-size: 26px;
				}
				.field-name-field-caption-groot {
					font-size: 40px;
				}
			}
			@include gridle_state(desktopb) {
				.field-name-field-caption-klein {
					font-size: 45px;
				}
				.field-name-field-caption-groot {
					font-size: 76px;
				}
			}
			*/
			.field-name-field-slide-link,
			.field-name-field-slide-body {
				font-size: 15px;
			}
	}

	.views-slideshow-controls-bottom {
		z-index: 9999999;
  		position: absolute;
  		width: 100%;
  		top: 40%;
  		display: block;
	}
	.views-slideshow-controls-text-previous,
	.views-slideshow-controls-text-next {
		position: absolute;
		font-size: 0;
		background-color: $background-control-color;
		color: $control-color;
		display: block;
		width: $padding*5;
		height: $padding*5;
  		font-family: FontAwesome; 
  		font-weight: 200;
  		text-rendering: auto;
  		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
  		transform: translate(0, 0);
  		transition: background-color 0.5s ease;
		&:before {
			text-align: center;
			margin: auto;
			display: block;
			line-height: $padding*5;
		}
		&:hover {
			background-color: $background-control-color-hover;
			text-decoration: none;
		}
	}
	.views-slideshow-controls-text-previous {
		&:before {
			content: "\f104";
			font-size: 36px;
		}
	}
	.views-slideshow-controls-text-next {
		right: 0;
		&:before {
			content: "\f105";
			font-size: 36px;
		}
	}
	.views-slideshow-controls-text-pause {
		display: none;
	}
}