table {
  width: 100%;
  border-collapse: separate;
}

thead {
  width: 100%;
}

tbody {
  width: 100%;
  border-top: none;
}

th {
  border-bottom: none;
}

td {
  padding: 5px;
}

// TABLE MET HEADER BEFORE (cfr shopping cart page listing orders)

.view-commerce-cart-form-feneko .view-content {
  table {
    border-spacing: 0 3em;
  }
  th {
    padding-bottom: 10px;
  }
  tbody {
    tr {
      width: 100%;
      position: relative;
      &:before {
        content: attr(data-before);
        position:absolute;
        margin-top: -40px;
        font-weight: 700;
        font-size: 18px;
        color: $blue;
        padding-top: 10px;
      }
      &:nth-child(1) {
        &:before {
          display: block;
          width: 100%;
          @include gridle_state (min-desk) {
            border-top: 2px solid $darkgrey;
          }
          fieldset & {
            @include gridle_state (min-desk) {
              width: 90%;
            }
            @include gridle_state (min-retina) {
              width: 94%;
            }
          }
        }
      }
    }
  }
  tbody,
  thead {
    tr td,
    tr th {
      &:nth-child(1) {
        display: none;
      }
    }
  }
  td {
    @include gridle_state (max-tablet) {
      position: relative;
      &.views-field-edit-delete,
      &.views-field-edit-quantity,
      &.views-field-commerce-total,
      &.views-field-quantity,
      &:not(.views-field) {
        padding-top: 40px;
        &:after {
          content: attr(data-before);
          position:absolute;
          top: 0;
          left: 0;
          font-size: 14px;
          color: $blue;
          padding-top: 10px;
        }
        width: 25%;
        .page-checkout & {
          width: 33%;
        }
      }
    }
  }
}


// TABEL MET LABELS BEFORE RESPONSIVE (cfr. lopende orders, manyforms)

#manyforms-form,
.page-user-feneko-orders .sticky-table,
.view-commerce-backoffice-user-orders {
  tr {
    &.odd {
      background-color: $lightblue;
    }
    &.even {
      background-color: $lightgrey;
    }
  }
  @include gridle_state (max-tablet) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    caption {
      display: block;
    }
    tr {
      border: 1px solid #ccc;
    }
    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      height: 32px;
      &[data-before="opmerking"] {
        border: none;
      }
    }
    td:before {
      position: absolute;
      top: 10px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-before);
      font-weight: 700;
    }
  }
}

#manyforms-form,
 {
  @include gridle_state (max-tablet) {
    thead tr {
      position: absolute;
      top: -9999px!important;
      left: -9999px!important;
    }
    tbody tr {
      border-bottom: 10px solid white;
    }
  }
  @include gridle_state (min-desk) {
    th {
      height: 100px;
      white-space: nowrap;
      div {
        transform:
        translate(7px, 51px)
        rotate(315deg);
        width: 30px;
      }
      span {
        padding: 5px 10px 5px 40px;
        border-top: 1px solid #ccc;
        width: 140px;
        display: inline-block;
      }
      br {
        content: "&nbsp;";
        width: 5px;
        display: inline-block;
      }
    }
    td {
      padding: $padding/2;
      &[data-before="aantal"],
      &[data-before="standaard T"],
      &[data-before="T standard"],
      &[data-before="nombre"] {
        width: 40px;
      }
      &[data-before="breedte(mm)"],
      &[data-before="hoogte(mm)"],
      &[data-before="largeur(mm)"],
      &[data-before="hauteur(mm)"],
      &[data-before="T1"],
      &[data-before="T2"],
      &[data-before="T3"],
      &[data-before="lengterails"],
      &[data-before="lgrails"] {
        width: 60px;
      }
    }
  }
}


// page user

.page-user-orders .sticky-table {
  tr {
    border-bottom: none;
    &.even {
      background-color: $lightblue;
    }
    td {
      vertical-align: middle;
    }
    @include gridle_state (min-full) {
      &:nth-child(odd) {
        font-weight: bold;
      }
    }
  }
  @include gridle_state (max-desk) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    caption {
      display: block;
    }
    td {
      position: relative;
      padding-left: 50%;
      height: 32px;
      line-height: 32px;
      text-align: right;
    }
    td:before {
      position: absolute;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-before);
      font-weight: 700;
      text-align: left;
    }
    tr:nth-child(odd) {
      font-weight: bold;
      td {
        padding-left: 6px;
        height: 42px;
        text-align: left;
        padding-top: 8px;
      }
      td:before {
        content: "";
      }
    }
  }
}


// FENEKO-ORDERS

.page-user-feneko-orders {
  .filters {
    .form-item {
      border-bottom: none;
    }
    .fieldset-wrapper {
      padding-top: 30px;
      > div.actions {
        clear: both;
        margin-top: 20px;
      }
      @include gridle_state(max-tablet) {
        > div {
          clear: both;
          width: 100%;
          border: none;
          border-left: none!important;
          border-right: none!important;
          &:nth-child(2),
          &:nth-child(3) {
            padding-left: 0;
          }
        }
        .container-inline-date {
          padding-left: 0;
        }
      }
    }
  }
  .container-inline-date .date-padding {
    float: none;
  }
  @include gridle_state (max-desk) {
    .sticky-header {
      position: absolute;
      top: -9999px!important;
      left: -9999px!important;
    }
  }
  .sticky-table {
    thead {
      font-size: 12px;
      text-align: center;
      border-bottom: 10px solid $white;
    }
    tr {
    &:nth-child(odd) {
      td {
        padding-left: 6px;
        text-align: left;
        &:before {
          content: "";
        }
      }
    }
  }
  @include gridle_state(max-tablet) {
    tr {
      border: none;
      &:nth-child(odd) {
        padding: 20px 0 0 0;
        background-color: transparent;
        font-size: 18px;
        color: $blue;
        border-bottom: none;
        td {
          border-bottom: none;
        }
      }
    }

  }
  @include gridle_state (min-desk) {
    tr {
      &:nth-child(odd) {
        font-weight: 700;
        &.even {
          background-color: lighten($lightgrey, 10%);
          }
        }
        &.odd {
        background-color: lighten($lightblue, 10%);
      }
    }
  }
  @include gridle_state(min-full) {
    td:nth-child(1) {
      width: 100px;
      padding-top: 20px;
    }
  }
  }
}

// manyform table

.view-payments,
.page-user-feneko-orders .sticky-table {
  @include gridle_state(max-tablet) {
    thead {
      tr {
        span {
          font-size: 0;
          a {
            font-size: 16px;
            width: 100%;
            border-bottom: 2px solid $blue;
            padding: 5px 0;
            display: block;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.view-payments {
  @include gridle_state(max-tablet) {
    th {
      font-size: 0;
      width: 100%;
      display: inline-block;
      a {
        font-size: 16px;
        width: 100%;
        border-bottom: 2px solid $blue;
        padding: 5px 0;
        display: block;
        text-decoration: none;
      }
    }
  }
}

// CART & CHECKOUT

.page-cart,
.page-checkout {
  @include gridle_state(max-tablet) {
    .view-content {
    th,
    td {
      display: inline-block;
      width: 20%;
      margin-bottom: 10px;
      float: left;
    }
    .views-field-detail {
      width: 100%;
      border-bottom: 1px solid $black;
    }
    thead {
      display: none;
    }
  }
  input[type=submit] {
      margin-left: 2px;
      margin-top: 10px;
  }
}
}

.page-checkout-review {
  @include gridle_state(max-tablet) {
    td {
      width: 100%;
    }
    .commerce-price-formatted-components {
      td {
        width: 100%;
      }
    }
    .views-table {
      td {
        width: 30%;
        &.views-field-detail {
          width: 100%;
        }
      }
    }
    .commerce-price-formatted-components {
      width: 100%;
      td {
        width: 100%;
      }
    }
  }
}

.view-feneko-calculator-line-items,
.view-commerce-backoffice-user-orders,
.view-payments {
  table {
    thead {
      border-bottom: 5px solid $white;
    }
    tbody {
      tr {
        background-color: $lightgrey;
        border-bottom: 10px solid $white;
        td {
          padding: 10px;
        }
      }
    }
  }
}
