.visible-when-double {
  display: none;
}

.double .visible-when-double {
  display: block;
}

#manyforms-form .form-submit {
    margin: 2em 0;
}

#edit-kader .kader {
    width: 300px;
}

#edit-kader .form-item-kader-top {
    text-align: center;
}

#edit-kader .form-item-kader-left {
    float: left;
}

#edit-kader .form-item-kader-right {
    float: right;
}

#edit-kader .form-item-kader-bottom {
    text-align: center;
    margin-top: 60px;
}

#manyforms-form #edit-kleur input[name=kleur_dep] {
    width: 400px;
}
