// TODO CHECK font-smooth: none;


@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin not-smooth {
             font-smooth: never;
          font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
 -moz-osx-font-smoothing: auto;
}

@mixin crisp {
            font-smooth: always;
         font-smoothing: antialiased;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

@mixin transition($property, $time, $sort) {
  -webkit-transition: $property $time $sort;
  -moz-transition: $property $time $sort;
  -o-transition: $property $time $sort;
  -ms-transition: $property $time $sort;
  transition: $property $time $sort;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

%full {
  @include gridle ( 12 );
  position: relative;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
  }
  &:before {
    margin-left: -9999px;
    padding-right: 9999px;
  }
  &:after {
    margin-right: -9999px;
    padding-left: 9999px;

  }
}

%button {
  transition: background-color 0.5s ease;
  border: 1px solid grey;
  text-decoration: none;
  display: inline-block;
  padding: $padding/2 $padding;
  height: $padding*3;
  @include crisp;
  a {
    text-decoration: none;
  }
}

%flex-youtube {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.38889rem;
  position: relative;
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

%youtube-player {
  width: 100%;
}
