form#feneko-code-import-form .manual {
  padding: 5px 10px;
  background-color: #bbb;
}

.page-user-feneko-orders .help-text {
  display: none;
  border: 1px solid #ccc;
  border-bottom: none;
  overflow: hidden;
  padding: 5px 10px;
  color: #6A6A6A;
}

.page-user-feneko-orders .help-text div {
  display: inline-block;
  width: 49%;
}

.page-user-feneko-orders .help-text .label {
  font-weight: bold;
}

.page-user-feneko-orders .help {
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  vertical-align: middle;
  margin-left: 5px !important;
}

fieldset.filters {
  border: 1px solid #ccc !important;
  padding: 1% 1%;
  min-height: 20px;
}

.filters legend {
  position: absolute;
  overflow: hidden;
}

.filters .date-padding {
  padding: 0;
}

.filters .date-padding label {
  display: none;
}

.filters label {
  margin-right: 10px;
}

.filters .fieldset-wrapper {
  padding-top: 20px;
}

.page-user-feneko-orders .form-type-date-popup > div > div:nth-child(1) input {
  width: 125px;
}

.page-user-feneko-orders .form-type-date-popup > div > div:nth-child(2) input {
  width: 125px;
}

.filters .fieldset-wrapper > div {
  float: left;
  clear: none;
}

.filters .fieldset-wrapper > div:nth-child(1) {
  padding-right: 1%;
}

.filters .fieldset-wrapper > div:nth-child(2) {
  padding-left: 1%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.filters .fieldset-wrapper > div:nth-child(3) {
  padding-left: 1%;
}

.filters .form-type-textfield {
  margin: 0;
}

html.js input.throbbing.form-autocomplete {
    background-position: 99% 50%;
}
